<%= render "common/header" %>
<main>
  <!-- Login -->
  <div class="container g-pt-100 g-pb-30">
    <div class="row justify-content-center">
      <div class="col-sm-7 col-md-6 col-lg-4 text-center g-mb-70">
        <h2 class="h4 mb-4">Forgot password?</h2>
        <p>Enter your email and we'll send you a link to reset your password.</p>

        <!-- Login Form -->
        <form class="g-mb-30">
          <div class="g-mb-20">
            <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-0 g-py-13 g-px-15" type="email" placeholder="Email Address">
          </div>

          <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15" type="submit">Reset Password</button>
        </form>
        <!-- End Login Form -->

        <a class="d-block g-mb-10" href="page-login-1.html">Cancel</a>
      </div>
    </div>
  </div>
  <!-- Login -->

  <!-- Call to Action -->
  <%= render "common/call_action" %>
  </div>
  <!-- End Call to Action -->
</main>
<!-- End Content -->
<%= render "common/footer" %>