<%= render "common/header" %>
<!-- Content -->
<main>
  <!-- Promo Block -->
  <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-cover g-bg-black-opacity-0_3--after g-py-150" style="background-image: url(assets/img-temp/1920x800/img3.jpg);">
    <div class="container g-pos-rel g-z-index-1">
      <div class="g-mb-20">
        <h1 class="g-color-white mb-0">How Can We Help?</h1>
      </div>

      <div class="g-bg-white-opacity-0_3 g-pa-30 g-pb-0">
        <!-- Input Group -->
        <form>
          <div class="row g-mx-0--md">
            <div class="col-md-6 col-lg-10 g-px-0--md g-mb-30">
              <input class="form-control rounded-0 g-brd-none g-brd-right g-brd-gray-light-v3 g-px-20 g-py-16" type="text" placeholder="Ask a question or search by keyword">
            </div>

            <div class="col-lg-2 g-px-0--md g-mb-30">
              <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" type="submit">
                Search
              </button>
            </div>
          </div>
        </form>
        <!-- End Input Group -->
      </div>
    </div>
  </div>
  <!-- End Promo Block -->

  <!-- Breadcrumbs -->
  <div class="container g-pt-50 g-pb-50">
    <ul class="u-list-inline g-font-weight-500 mb-2">
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Home</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li class="list-inline-item g-color-primary">
        <span>Help Center</span>
      </li>
    </ul>
    <h2 class="mb-0">Help Center</h2>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Help - Content -->
  <div class="container g-pb-70">
    <div class="row">
      <div class="col-md-5 col-lg-3 g-mb-30">
        <!-- Nav tabs -->
        <ul class="nav flex-column" role="tablist" data-target="nav-5-3-primary-ver" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-primary">
          <li class="nav-item">
            <a class="nav-link active g-brd-none g-color-main g-color-primary--hover g-px-0 g-py-5" data-toggle="tab" href="#nav-5-3-primary-ver--1" role="tab">
              Getting started
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-brd-none g-color-main g-color-primary--hover g-px-0 g-py-5" data-toggle="tab" href="#nav-5-3-primary-ver--2" role="tab">
              Account &amp; profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-brd-none g-color-main g-color-primary--hover g-px-0 g-py-5" data-toggle="tab" href="#nav-5-3-primary-ver--3" role="tab">
              Hosting
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-brd-none g-color-main g-color-primary--hover g-px-0 g-py-5" data-toggle="tab" href="#nav-5-3-primary-ver--4" role="tab">
              Traveling
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-brd-none g-color-main g-color-primary--hover g-px-0 g-py-5" data-toggle="tab" href="#nav-5-3-primary-ver--5" role="tab">
              Experiences
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-brd-none g-color-main g-color-primary--hover g-px-0 g-py-5" data-toggle="tab" href="#nav-5-3-primary-ver--6" role="tab">
              Reviews
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-brd-none g-color-main g-color-primary--hover g-px-0 g-py-5" data-toggle="tab" href="#nav-5-3-primary-ver--7" role="tab">
              Business travel
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link g-brd-none g-color-main g-color-primary--hover g-px-0 g-py-5" data-toggle="tab" href="#nav-5-3-primary-ver--8" role="tab">
              Trust &amp; safety
            </a>
          </li>
        </ul>
        <!-- End Nav tabs -->
      </div>

      <div class="col-md-7 col-lg-9 g-mb-30">
        <!-- Tab panes -->
        <div id="nav-5-3-primary-ver" class="tab-content g-pt-20 g-pt-0--md">
          <div class="tab-pane fade show active" id="nav-5-3-primary-ver--1" role="tabpanel">
            <!-- Accordion -->
            <div id="accordion-12-1" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-1-heading-01" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-1-body-01" data-toggle="collapse" data-parent="#accordion-12-1" aria-expanded="true" aria-controls="accordion-12-1-body-01">
                      I'm a host. How do I make a change to a confirmed reservation?
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-1-body-01" class="collapsed show" role="tabpanel" aria-labelledby="accordion-12-1-heading-01">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-1-heading-02" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-1-body-02" data-toggle="collapse" data-parent="#accordion-12-1" aria-expanded="false" aria-controls="accordion-12-1-body-02">
                      How is the price determined for my reservation?
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-1-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-12-1-heading-02">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-1-heading-03" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-1-body-03" data-toggle="collapse" data-parent="#accordion-12-1" aria-expanded="false" aria-controls="accordion-12-1-body-03">
                      What is the Airbnb cancellation policy?
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-1-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-12-1-heading-03">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    The time has come to bring those ideas and plans to life. Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone. Their new technique, described in a study published on Thursday in the journal Science, promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-1-heading-04" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-1-body-04" data-toggle="collapse" data-parent="#accordion-12-1" aria-expanded="false" aria-controls="accordion-12-1-body-04">
                      How does Airbnb handle security deposits?
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-1-body-04" class="collapse" role="tabpanel" aria-labelledby="accordion-12-1-heading-04">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-1-heading-05" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-1-body-05" data-toggle="collapse" data-parent="#accordion-12-1" aria-expanded="false" aria-controls="accordion-12-1-body-05">
                      How do I cancel my reservation?
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-1-body-05" class="collapse" role="tabpanel" aria-labelledby="accordion-12-1-heading-05">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </div>

          <div class="tab-pane fade" id="nav-5-3-primary-ver--2" role="tabpanel">
            <!-- Accordion -->
            <div id="accordion-12-2" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-2-heading-01" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-2-body-01" data-toggle="collapse" data-parent="#accordion-12-2" aria-expanded="true" aria-controls="accordion-12-2-body-01">
                      Find a Missing Package that Shows as Delivered
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-2-body-01" class="collapsed show" role="tabpanel" aria-labelledby="accordion-12-2-heading-01">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-2-heading-02" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-2-body-02" data-toggle="collapse" data-parent="#accordion-12-2" aria-expanded="false" aria-controls="accordion-12-2-body-02">
                      Contact Shipping Carrier
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-2-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-12-2-heading-02">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-2-heading-03" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-2-body-03" data-toggle="collapse" data-parent="#accordion-12-2" aria-expanded="false" aria-controls="accordion-12-2-body-03">
                      Track Your Package
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-2-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-12-2-heading-03">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    The time has come to bring those ideas and plans to life. Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone. Their new technique, described in a study published on Thursday in the journal Science, promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists.
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </div>

          <div class="tab-pane fade" id="nav-5-3-primary-ver--3" role="tabpanel">
            <!-- Accordion -->
            <div id="accordion-12-3" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-3-heading-01" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-3-body-01" data-toggle="collapse" data-parent="#accordion-12-3" aria-expanded="true" aria-controls="accordion-12-3-body-01">
                      Cancel Items or Orders
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-3-body-01" class="collapsed show" role="tabpanel" aria-labelledby="accordion-12-3-heading-01">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-3-heading-02" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-3-body-02" data-toggle="collapse" data-parent="#accordion-12-3" aria-expanded="false" aria-controls="accordion-12-3-body-02">
                      Change Your Order Information
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-3-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-12-3-heading-02">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-3-heading-03" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-3-body-03" data-toggle="collapse" data-parent="#accordion-12-3" aria-expanded="false" aria-controls="accordion-12-3-body-03">
                      Contact Third-Party Sellers
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-3-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-12-3-heading-03">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    The time has come to bring those ideas and plans to life. Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone. Their new technique, described in a study published on Thursday in the journal Science, promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists.
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </div>

          <div class="tab-pane fade" id="nav-5-3-primary-ver--4" role="tabpanel">
            <!-- Accordion -->
            <div id="accordion-12-4" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-4-heading-01" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-4-body-01" data-toggle="collapse" data-parent="#accordion-12-4" aria-expanded="true" aria-controls="accordion-12-4-body-01">
                      End Your Amazon Prime Membership
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-4-body-01" class="collapsed show" role="tabpanel" aria-labelledby="accordion-12-4-heading-01">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </div>

          <div class="tab-pane fade" id="nav-5-3-primary-ver--5" role="tabpanel">
            <!-- Accordion -->
            <div id="accordion-12-5" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-5-heading-01" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-5-body-01" data-toggle="collapse" data-parent="#accordion-12-5" aria-expanded="true" aria-controls="accordion-12-5-body-01">
                      Return Items You Ordered
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-5-body-01" class="collapsed show" role="tabpanel" aria-labelledby="accordion-12-5-heading-01">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-5-heading-02" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-5-body-02" data-toggle="collapse" data-parent="#accordion-12-5" aria-expanded="false" aria-controls="accordion-12-5-body-02">
                      Check the Status of Your Refund
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-5-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-12-5-heading-02">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </div>

          <div class="tab-pane fade" id="nav-5-3-primary-ver--6" role="tabpanel">
            <!-- Accordion -->
            <div id="accordion-12-6" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-6-heading-01" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-6-body-01" data-toggle="collapse" data-parent="#accordion-12-6" aria-expanded="true" aria-controls="accordion-12-6-body-01">
                      Shipping Rates &amp; Times
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-6-body-01" class="collapsed show" role="tabpanel" aria-labelledby="accordion-12-6-heading-01">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-6-heading-02" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-6-body-02" data-toggle="collapse" data-parent="#accordion-12-6" aria-expanded="false" aria-controls="accordion-12-6-body-02">
                      International Shipping
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-6-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-12-6-heading-02">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-6-heading-03" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-6-body-03" data-toggle="collapse" data-parent="#accordion-12-6" aria-expanded="false" aria-controls="accordion-12-6-body-03">
                      Unify Prime
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-6-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-12-6-heading-03">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    The time has come to bring those ideas and plans to life. Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone. Their new technique, described in a study published on Thursday in the journal Science, promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists.
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </div>

          <div class="tab-pane fade" id="nav-5-3-primary-ver--7" role="tabpanel">
            <!-- Accordion -->
            <div id="accordion-12-7" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-7-heading-01" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-7-body-01" data-toggle="collapse" data-parent="#accordion-12-7" aria-expanded="true" aria-controls="accordion-12-7-body-01">
                      Ask the unify Help Community
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-7-body-01" class="collapsed show" role="tabpanel" aria-labelledby="accordion-12-7-heading-01">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-7-heading-02" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-7-body-02" data-toggle="collapse" data-parent="#accordion-12-7" aria-expanded="false" aria-controls="accordion-12-7-body-02">
                      Contact Us
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-7-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-12-7-heading-02">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </div>

          <div class="tab-pane fade" id="nav-5-3-primary-ver--8" role="tabpanel">
            <!-- Accordion -->
            <div id="accordion-12-8" class="u-accordion u-accordion-color-primary" role="tablist" aria-multiselectable="true">
              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-8-heading-01" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-8-body-01" data-toggle="collapse" data-parent="#accordion-12-8" aria-expanded="true" aria-controls="accordion-12-8-body-01">
                      Gifts, Gift Cards &amp; Registries
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-8-body-01" class="collapsed show" role="tabpanel" aria-labelledby="accordion-12-8-heading-01">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-8-heading-02" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-8-body-02" data-toggle="collapse" data-parent="#accordion-12-8" aria-expanded="false" aria-controls="accordion-12-8-body-02">
                      Security &amp; Privacy
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-8-body-02" class="collapse" role="tabpanel" aria-labelledby="accordion-12-8-heading-02">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    This is where we sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-8-heading-03" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-8-body-03" data-toggle="collapse" data-parent="#accordion-12-8" aria-expanded="false" aria-controls="accordion-12-8-body-03">
                      Author, Publisher &amp; Vendor Guides
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-8-body-03" class="collapse" role="tabpanel" aria-labelledby="accordion-12-8-heading-03">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    The time has come to bring those ideas and plans to life. Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone. Their new technique, described in a study published on Thursday in the journal Science, promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-8-heading-04" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-8-body-04" data-toggle="collapse" data-parent="#accordion-12-8" aria-expanded="false" aria-controls="accordion-12-8-body-04">
                      Pricing
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-8-body-04" class="collapse" role="tabpanel" aria-labelledby="accordion-12-8-heading-04">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    The time has come to bring those ideas and plans to life. Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone. Their new technique, described in a study published on Thursday in the journal Science, promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-8-heading-05" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-8-body-05" data-toggle="collapse" data-parent="#accordion-12-8" aria-expanded="false" aria-controls="accordion-12-8-body-05">
                      Placing an Order
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-8-body-05" class="collapse" role="tabpanel" aria-labelledby="accordion-12-8-heading-05">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    The time has come to bring those ideas and plans to life. Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone. Their new technique, described in a study published on Thursday in the journal Science, promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none g-bg-secondary rounded-0">
                <div id="accordion-12-8-heading-06" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-8-body-06" data-toggle="collapse" data-parent="#accordion-12-8" aria-expanded="false" aria-controls="accordion-12-8-body-06">
                      Sales Tax &amp; Regulatory Fees
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-8-body-06" class="collapse" role="tabpanel" aria-labelledby="accordion-12-8-heading-06">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    The time has come to bring those ideas and plans to life. Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone. Their new technique, described in a study published on Thursday in the journal Science, promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists.
                  </div>
                </div>
              </div>
              <!-- End Card -->

              <!-- Card -->
              <div class="card g-brd-none rounded-0">
                <div id="accordion-12-8-heading-08" class="u-accordion__header g-color-text g-font-weight-500 g-font-size-16 g-pa-0" role="tab">
                  <h5 class="g-font-size-15 mb-0">
                    <a class="collapsed d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-pa-30" href="#accordion-12-8-body-08" data-toggle="collapse" data-parent="#accordion-12-8" aria-expanded="false" aria-controls="accordion-12-8-body-08">
                      Promotions &amp; Deals
                    </a>
                  </h5>
                </div>
                <div id="accordion-12-8-body-08" class="collapse" role="tabpanel" aria-labelledby="accordion-12-8-heading-07">
                  <div class="u-accordion__body g-color-text g-pa-30 g-pt-0">
                    The time has come to bring those ideas and plans to life. Sifting through teaspoons of clay and sand scraped from the floors of caves, German researchers have managed to isolate ancient human DNA — without turning up a single bone. Their new technique, described in a study published on Thursday in the journal Science, promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists.
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </div>
        </div>
        <!-- End Tab panes -->
      </div>
    </div>
  </div>
  <!-- End Help - Content -->

  <!-- Call to Action -->
  <%= render "common/call_action" %>
  <!-- End Call to Action -->
</main>
<!-- End Content -->
<%= render "common/footer" %>