<%= render "common/header" %>
<!-- Content -->
<main>
  <!-- Promo Block -->
  <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-cover g-bg-black-opacity-0_3--after g-py-150" style="background-image: url(assets/img-temp/1920x800/img3.jpg);">
    <div class="container g-pos-rel g-z-index-1">
      <div class="g-mb-20">
        <h1 class="h2 g-color-white mb-0">Search for Flatmates &amp; Rooms for Rent</h1>
      </div>

      <div class="g-bg-white-opacity-0_3 g-pa-30 g-pb-0">
        <!-- Input Group -->
        <form>
          <div class="row g-mx-0--md">
            <div class="col-md-6 col-lg-8 g-px-0--md g-mb-30">
              <input class="form-control rounded-0 h-100 g-brd-none g-brd-right g-brd-gray-light-v3 g-px-20 g-pt-15 g-pb-16" type="text" placeholder="Search by City, Address, ZIP ...">
            </div>

            <!-- Button Group -->
            <div class="col-sm-6 col-md-3 col-lg-2 g-px-0--md g-mb-30">
              <select class="js-custom-select w-100 h-100 u-select-v1 g-min-width-150 g-brd-none g-color-main g-color-primary--hover g-bg-white g-py-13" required
                      data-placeholder="All Listings"
                      data-open-icon="fa fa-angle-down"
                      data-close-icon="fa fa-angle-up">
                <option></option>
                <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="AL">All Listings</option>
                <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="FL">Flatmates</option>
                <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="RM">Roomates</option>
              </select>
            </div>
            <!-- End Button Group -->

            <div class="col-lg-2 g-px-0--md g-mb-30">
              <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" type="submit">
                Search
              </button>
            </div>
          </div>
        </form>
        <!-- End Input Group -->
      </div>
    </div>
  </div>
  <!-- End Promo Block -->

  <!-- Call to Action -->
  <div class="u-shadow-v19 g-bg-secondary g-pt-40 g-pb-10">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 g-mb-30">
          <h2 class="h4 mb-0">Share accommodation in England</h2>
          <p class="mb-0">View all <a class="g-color-text g-color-primary--hover g-text-underline" href="#">England flatmate &amp; houseshare listings</a></p>
        </div>

        <div class="col-md-6 g-mb-30">
          <ul class="list-inline float-md-right g-font-size-16 mb-0">
            <li class="list-inline-item">
              <a class="active g-color-text g-color-primary--parent-active g-text-underline--none--hover" href="#">
                <i class="g-pos-rel g-top-3 g-font-size-22 mr-2 icon-list"></i>
                All Listings
              </a>
            </li>
            <li class="list-inline-item g-px-25">
              <a class="g-color-text g-color-primary--parent-active g-text-underline--none--hover" href="#">
                <i class="align-middle g-font-size-22 mr-2 icon-furniture-001 u-line-icon-pro"></i>
                Rooms
              </a>
            </li>
            <li class="list-inline-item">
              <a class="g-color-text g-color-primary--parent-active g-text-underline--none--hover" href="#">
                <i class="align-middle g-font-size-22 mr-2 icon-people"></i>
                Flatmates
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Call to Action -->

  <!-- Rent Products -->
  <div class="container g-pt-100">
    <div class="row justify-content-center">
      <div class="col-lg-9 order-lg-2 g-mb-70">
        <div class="row">
          <div class="col-sm-6 g-mb-30">
            <!-- Products -->
            <article>
              <!-- Products - Carousel Image -->
              <div class="js-carousel"
                    data-infinite="true"
                    data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
                    data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
                    data-arrow-right-classes="fa fa-angle-right g-right-0">
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--03"
                      data-src="assets/img-temp/600x450/img4.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img4.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--03"
                      data-src="assets/img-temp/600x450/img8.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img8.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--03"
                      data-src="assets/img-temp/600x450/img9.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img9.jpg" alt="Image Description">
                </div>
              </div>
              <!-- Products - Carousel Image -->

              <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    3 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    2 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    1,527 SQFT
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">470 Lucy Forks, Patriciafurt, YC7B</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $700<span class="g-font-size-13">/mo</span>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>
              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-sm-6 g-mb-30">
            <!-- Products -->
            <article>
              <!-- Products - Carousel Image -->
              <div class="js-carousel"
                    data-infinite="true"
                    data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
                    data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
                    data-arrow-right-classes="fa fa-angle-right g-right-0">
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--04"
                      data-src="assets/img-temp/600x450/img5.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img5.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--04"
                      data-src="assets/img-temp/600x450/img6.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img6.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--04"
                      data-src="assets/img-temp/600x450/img7.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img7.jpg" alt="Image Description">
                </div>
              </div>
              <!-- Products - Carousel Image -->

              <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    1 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    1 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    905 SQFT
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">06 Bell Views, Andyshire, BN2L 9WC</h3>
                  <p class="g-font-size-13 mb-4">Edinburgh, Scotland</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real Estate State</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $120<span class="g-font-size-13">/mo</span>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>
              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-sm-6 g-mb-30">
            <!-- Products -->
            <article>
              <!-- Products - Carousel Image -->
              <div class="js-carousel"
                    data-infinite="true"
                    data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
                    data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
                    data-arrow-right-classes="fa fa-angle-right g-right-0">
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--05"
                      data-src="assets/img-temp/600x450/img11.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img11.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--05"
                      data-src="assets/img-temp/600x450/img10.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img10.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--05"
                      data-src="assets/img-temp/600x450/img12.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img12.jpg" alt="Image Description">
                </div>
              </div>
              <!-- Products - Carousel Image -->

              <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    2 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    1 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    1,348 SQFT
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">4 Allen Ramp, New Dean, T01 2WA</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $235<span class="g-font-size-13">/mo</span>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>
              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-sm-6 g-mb-30">
            <!-- Products -->
            <article>
              <!-- Products - Carousel Image -->
              <div class="js-carousel"
                    data-infinite="true"
                    data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
                    data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
                    data-arrow-right-classes="fa fa-angle-right g-right-0">
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--06"
                      data-src="assets/img-temp/600x450/img1.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img1.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--06"
                      data-src="assets/img-temp/600x450/img2.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img2.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--06"
                      data-src="assets/img-temp/600x450/img3.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img3.jpg" alt="Image Description">
                </div>
              </div>
              <!-- Products - Carousel Image -->

              <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    7 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    5 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    3,725 SQFT
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">Flat 60, Ross Green, South Lilyberg</h3>
                  <p class="g-font-size-13 mb-4">Milan, Italy</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real Estate State</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $254
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>
              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-sm-6 g-mb-30">
            <!-- Products -->
            <article>
              <!-- Products - Carousel Image -->
              <div class="js-carousel"
                    data-infinite="true"
                    data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
                    data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
                    data-arrow-right-classes="fa fa-angle-right g-right-0">
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--07"
                      data-src="assets/img-temp/600x450/img15.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img15.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--07"
                      data-src="assets/img-temp/600x450/img16.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img16.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--07"
                      data-src="assets/img-temp/600x450/img17.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img17.jpg" alt="Image Description">
                </div>
              </div>
              <!-- Products - Carousel Image -->

              <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    4 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    3 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    2,020 SQFT
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">90 Karl Walk, Port Layla, BL2 0UR</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Excellent Estate</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $879
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>
              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-sm-6 g-mb-30">
            <!-- Products -->
            <article>
              <!-- Products - Carousel Image -->
              <div class="js-carousel"
                    data-infinite="true"
                    data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
                    data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
                    data-arrow-right-classes="fa fa-angle-right g-right-0">
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--08"
                      data-src="assets/img-temp/600x450/img3.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img3.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--08"
                      data-src="assets/img-temp/600x450/img2.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img2.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--08"
                      data-src="assets/img-temp/600x450/img1.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img1.jpg" alt="Image Description">
                </div>
              </div>
              <!-- Products - Carousel Image -->

              <div class="g-brd-x g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    3 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    2 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    1,527 SQFT
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">470 Lucy Forks, Patriciafurt, YC7B</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $700
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>
              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-lg-12">
            <!-- Pagination -->
            <nav class="text-center g-mt-30" aria-label="Page Navigation">
              <ul class="list-inline">
                <li class="list-inline-item float-sm-left">
                  <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#!" aria-label="Previous">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i>
                      Previous
                    </span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--active g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">1</a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">2</a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">3</a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <span class="g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19">...</span>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">15</a>
                </li>
                <li class="list-inline-item float-sm-right">
                  <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#!" aria-label="Next">
                    <span aria-hidden="true">
                      Next
                      <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- End Pagination -->
          </div>
        </div>
      </div>

      <div class="col-md-5 col-lg-3 order-lg-1 g-mb-70">
        <!-- Calculator -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h2 class="h6 g-font-weight-600 mb-4">Mortgage Calculator</h2>

            <form>
              <!-- Text Input with Right Appended Icon -->
              <div class="form-group g-mb-20">
                <div class="input-group g-brd-primary--focus">
                  <div class="input-group-prepend g-color-gray-light-v1 g-font-size-12 rounded-0">
                    <div class="input-group-text justify-content-center g-width-40 g-bg-white g-brd-gray-light-v3">
                      <i class="g-font-style-normal">&#36;</i>
                    </div>
                  </div>
                  <input class="form-control form-control-md g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-12" type="text" placeholder="Total Amount">
                </div>
              </div>
              <!-- End Text Input with Right Appended Icon -->

              <!-- Text Input with Right Appended Icon -->
              <div class="form-group g-mb-20">
                <div class="input-group g-brd-primary--focus">
                  <div class="input-group-prepend g-color-gray-light-v1 g-font-size-12 rounded-0">
                    <div class="input-group-text justify-content-center g-width-40 g-bg-white g-brd-gray-light-v3">
                      <i class="g-font-style-normal">&#36;</i>
                    </div>
                  </div>
                  <input class="form-control form-control-md g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-12" type="text" placeholder="Down Payment">
                </div>
              </div>
              <!-- End Text Input with Right Appended Icon -->

              <!-- Text Input with Right Appended Icon -->
              <div class="form-group g-mb-20">
                <div class="input-group g-brd-primary--focus">
                  <div class="input-group-prepend g-color-gray-light-v1 g-font-size-12 rounded-0">
                    <div class="input-group-text justify-content-center g-width-40 g-bg-white g-brd-gray-light-v3">
                      <i class="g-font-style-normal">&#37;</i>
                    </div>
                  </div>
                  <input class="form-control form-control-md g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-12" type="text" placeholder="Interest Rate">
                </div>
              </div>
              <!-- End Text Input with Right Appended Icon -->

              <!-- Select Date Range -->
              <div class="form-group mb-20">
                <!-- Datepicker -->
                <div class="input-group g-brd-primary--focus">
                  <div class="input-group-prepend g-color-gray-light-v1 g-font-size-12 rounded-0">
                    <div class="input-group-text justify-content-center g-width-40 g-bg-white g-brd-gray-light-v3">
                      <i class="icon-calendar"></i>
                    </div>
                  </div>
                  <input id="datepickerFrom" class="form-control form-control-md u-datepicker-v1 g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-11" type="text" placeholder="Start date" data-range="true" data-to="datepickerTo">
                </div>
                <!-- End Datepicker -->
              </div>
              <!-- Select Date Range -->

              <!-- Input Group -->
              <div class="input-group-btn g-mb-20">
                <select class="js-custom-select w-100 u-select-v1 g-brd-gray-light-v3 g-color-gray-dark-v5 g-color-primary--hover g-font-weight-500 g-py-10" required
                        data-placeholder="Monthly"
                        data-open-icon="fa fa-angle-down"
                        data-close-icon="fa fa-angle-up">
                  <option></option>
                  <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="MO">Monthly</option>
                  <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="DA">Daily</option>
                  <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="WE">Weekly</option>
                  <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="YE">Yearly</option>
                </select>
              </div>
              <!-- End Input Group -->

              <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-35 g-py-12" type="submit">Calculate</button>
            </form>
          </div>
        </div>
        <!-- End Calculator -->

        <!-- Property Status -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h2 class="h6 g-font-weight-600 mb-4">Property Status</h2>

            <ul class="list-unstyled g-font-weight-500 mb-0">
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> For Rent</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(53)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> For Sale</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(38)</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Property Status -->

        <!-- Property Type -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h2 class="h6 g-font-weight-600 mb-4">Property Type</h2>

            <ul class="list-unstyled g-font-weight-500 mb-0">
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Apartment</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(27)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Loft</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(2)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Lease</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(12)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Multi Family Home</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(9)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Single Family Home</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(19)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Studio</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(5)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Villa</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(10)</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Property Type -->

        <!-- Recently Viewed -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h2 class="h6 g-font-weight-600 mb-4">Recently Viewed</h2>

            <ul class="list-unstyled g-font-weight-500 mb-0">
              <!-- Recently Viewed - Products -->
              <li class="g-brd-bottom g-brd-gray-light-v3 g-pb-30">
                <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img1.jpg" alt="Image Description">
                <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/pages-single">Comfortable Room in LA</a></h3>
                <span class="d-block g-color-text g-font-weight-600 mb-2">$3,000/mo</span>
                <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                  <li class="list-inline-item">1 bed</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">1 bat</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">900 SQFT</li>
                </ul>
              </li>
              <!-- End Recently Viewed - Products -->

              <!-- Recently Viewed - Products -->
              <li class="g-brd-bottom g-brd-gray-light-v3 g-py-30">
                <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img2.jpg" alt="Image Description">
                <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/pages-single">Studio in LA</a></h3>
                <span class="d-block g-color-text g-font-weight-600 mb-2">$2,000/mo</span>
                <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                  <li class="list-inline-item">1 bed</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">1 bat</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">855 SQFT</li>
                </ul>
              </li>
              <!-- End Recently Viewed - Products -->

              <!-- Recently Viewed - Products -->
              <li class="g-py-30">
                <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img3.jpg" alt="Image Description">
                <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/pages-single">A Room in LA</a></h3>
                <span class="d-block g-color-text g-font-weight-600 mb-2">$1,000/mo</span>
                <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                  <li class="list-inline-item">1 bed</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">1 bat</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">657 SQFT</li>
                </ul>
              </li>
              <!-- End Recently Viewed - Products -->
            </ul>
          </div>
        </div>
        <!-- End Recently Viewed -->
      </div>
    </div>
  </div>
  <!-- End Rent Products -->

  <hr class="g-brd-gray-light-v4">

  <!-- New Lands -->
  <div class="container-fluid text-center g-pt-50 g-pb-80">
    <h2 class="h4 g-mb-30">Discover new land estates in England</h2>

    <!-- Products - Carousel Image -->
    <div class="js-carousel g-mx-40"
          data-infinite="true"
          data-slides-show="3"
          data-center-mode="true"
          data-center-padding="60px"
          data-arrows-classes="u-arrow-v1 g-width-30 g-height-30 g-color-white g-bg-primary g-bg-primary-dark-v1--hover g-absolute-centered--y"
          data-arrow-left-classes="fa fa-angle-left g-left-minus-40 g-brd-right g-brd-white-opacity-0_1"
          data-arrow-right-classes="fa fa-angle-right g-right-minus-40"
          data-responsive='[{
            "breakpoint": 1800,
            "settings": {
              "slidesToShow": 4
            }
          }, {
            "breakpoint": 1200,
            "settings": {
              "slidesToShow": 3
            }
          }, {
            "breakpoint": 992,
            "settings": {
              "slidesToShow": 2
            }
          }, {
            "breakpoint": 768,
            "settings": {
              "slidesToShow": 1
            }
          }, {
            "breakpoint": 576,
            "settings": {
              "slidesToShow": 1
            }
          }, {
            "breakpoint": 446,
            "settings": {
              "slidesToShow": 1
            }
          }]'>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img4.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">London</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img5.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Liverpool</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img6.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Manchester</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img7.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Bristol</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img8.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Newcastle</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img9.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Leeds</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img10.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">York</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img11.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Sheffield</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img12.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Cambridge</h3>
      </div>
    </div>
    <!-- Products - Carousel Image -->
  </div>
  <!-- End New Lands -->

  <!-- Call to Action -->
  <%= render "common/call_action" %>
  <!-- End Call to Action -->
</main>

<%= render "common/footer" %>