<%= render "common/header" %>
<!-- Content -->
<main>
  <!-- Breadcrumbs -->
  <div class="container g-py-50">
    <ul class="u-list-inline g-font-weight-500 mb-2">
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Home</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Agents</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li class="list-inline-item g-color-primary">
        <span>Single Page</span>
      </li>
    </ul>
    <h1 class="h2 mb-0">Single Page - Rosa Allie</h1>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Agent -->
  <div class="container g-pb-30">
    <div class="row justify-content-center">
      <div class="col-lg-9 order-lg-2 g-mb-70">
        <!-- Agent Info -->
        <div class="mb-4">
          <h2>Rosa Allie</h2>
          <ul class="list-inline g-color-text g-font-weight-600">
            <li class="list-inline-item">London, England</li>
            <li class="list-inline-item">&#8226;</li>
            <li class="list-inline-item">Joined 2014</li>
          </ul>
        </div>
        <p class="g-line-height-2">I am an ambitious workaholic, but apart from that, pretty simple persons. This is where I sit down, grab a cup of coffee and dial in the details. Understanding the task at hand and ironing out the wrinkles is key.The time has come to bring those ideas and plans to life. This is where I really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
        <!-- End Agent Info -->

        <hr class="g-brd-gray-light-v3 g-my-50">

        <!-- Contact Form -->
        <h3 class="g-font-weight-600 g-font-size-18 mb-4">Contact Rosa Allie</h3>
        <form>
          <div class="row">
            <div class="col-md-4 g-mb-20">
              <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-0 g-py-13 g-px-15" type="text" placeholder="Name">
            </div>

            <div class="col-md-4 g-mb-20">
              <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-0 g-py-13 g-px-15" type="email" placeholder="Email">
            </div>

            <div class="col-md-4 g-mb-20">
              <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-0 g-py-13 g-px-15" type="tel" placeholder="Phone">
            </div>
          </div>

          <div class="form-group g-mb-20">
            <textarea class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover g-resize-none rounded-0 g-py-13 g-px-15" rows="4" placeholder="Message"></textarea>
          </div>

          <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15" type="submit">Send Message</button>
        </form>
        <!-- End Contact Form -->

        <hr class="g-brd-gray-light-v3 g-my-50">

        <h3 class="g-font-weight-600 g-font-size-18 mb-4">Rosa Allie's Agency Properties</h3>
        <div class="row">
          <div class="col-sm-6 g-mb-30">
            <!-- Products -->
            <article>
              <!-- Products - Carousel Image -->
              <div class="js-carousel"
                    data-infinite="true"
                    data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
                    data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
                    data-arrow-right-classes="fa fa-angle-right g-right-0">
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--01"
                      data-src="assets/img-temp/600x450/img5.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img5.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--01"
                      data-src="assets/img-temp/600x450/img6.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img6.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--01"
                      data-src="assets/img-temp/600x450/img7.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img7.jpg" alt="Image Description">
                </div>
              </div>
              <!-- Products - Carousel Image -->

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    1 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    1 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    905 SQFT
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">06 Bell Views, Andyshire, BN2L 9WC</h3>
                  <p class="g-font-size-13 mb-4">Edinburgh, Scotland</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real Estate State</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $1,200<span class="g-font-size-13">/mo</span>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>
              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-sm-6 g-mb-30">
            <!-- Products -->
            <article>
              <!-- Products - Carousel Image -->
              <div class="js-carousel"
                    data-infinite="true"
                    data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_4 g-bg-primary--hover g-color-white"
                    data-arrow-left-classes="fa fa-angle-left g-right-30 g-brd-right g-brd-white-opacity-0_1"
                    data-arrow-right-classes="fa fa-angle-right g-right-0">
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--02"
                      data-src="assets/img-temp/600x450/img11.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img11.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--02"
                      data-src="assets/img-temp/600x450/img10.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img10.jpg" alt="Image Description">
                </div>
                <div class="js-slide g-pos-rel">
                  <a class="js-fancybox d-block u-icon-v3 g-width-30 g-height-30 g-color-main g-bg-primary-opacity-0_6 g-bg-primary--hover g-color-white g-font-size-14 g-pos-abs g-bottom-0 g-right-65" href="javascript:;"
                      data-fancybox="lightbox-gallery--02"
                      data-src="assets/img-temp/600x450/img12.jpg"
                      data-speed="350"
                      data-caption="Lightbox Gallery">
                    <i class="icon-size-fullscreen"></i>
                  </a>
                  <img class="img-fluid" src="assets/img-temp/600x450/img12.jpg" alt="Image Description">
                </div>
              </div>
              <!-- Products - Carousel Image -->

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    2 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    1 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    1,348 SQFT
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">4 Allen Ramp, New Dean, T01 2WA</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $2,350<span class="g-font-size-13">/mo</span>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>
              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>
        </div>
      </div>

      <div class="col-md-5 col-lg-3 order-lg-1 g-mb-70">
        <img class="img-fluid w-100 g-mb-30" src="assets/img-temp/400x450/img1.jpg" alt="Image Description">

        <!-- Contacts -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h3 class="h6 g-font-weight-600 mb-4">Contacts</h3>

            <ul class="list-unstyled g-color-text mb-0">
              <li class="g-py-10">
                <span class="d-block g-font-weight-600">Office Number</span>
                (0161) 347 8854
              </li>
              <li class="g-py-10">
                <span class="d-block g-font-weight-600">Mobile Number</span>
                (0113) 134 9519
              </li>
              <li class="g-py-10">
                <span class="d-block g-font-weight-600">Fax Number</span>
                (0121) 209 0754
              </li>
              <li class="g-py-10">
                <span class="d-block g-font-weight-600">Email Address</span>
                rosa@realestate.com
              </li>
            </ul>
          </div>
        </div>
        <!-- End Contacts -->

        <!-- Connected Accounts -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h3 class="h6 g-font-weight-600 mb-4">Connected Accounts</h3>

            <ul class="list-unstyled g-color-text g-font-weight-600 mb-0">
              <li class="g-py-10">
                <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover" href="#">
                  Facebook
                  <span class="float-right u-icon-v2 g-width-20 g-height-20 g-font-size-11 rounded-circle g-transition-0"><i class="fa fa-facebook"></i></span>
                </a>
              </li>
              <li class="g-py-10">
                <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover" href="#">
                  Twitter
                  <span class="float-right u-icon-v2 g-width-20 g-height-20 g-font-size-11 rounded-circle g-transition-0"><i class="fa fa-twitter"></i></span>
                </a>
              </li>
              <li class="g-py-10">
                <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover" href="#">
                  Instagram
                  <span class="float-right u-icon-v2 g-width-20 g-height-20 g-font-size-11 rounded-circle g-transition-0"><i class="fa fa-instagram"></i></span>
                </a>
              </li>
              <li class="g-py-10">
                <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover" href="#">
                  Google
                  <span class="float-right u-icon-v2 g-width-20 g-height-20 g-font-size-11 rounded-circle g-transition-0"><i class="fa fa-google"></i></span>
                </a>
              </li>
              <li class="g-py-10">
                <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover" href="#">
                  Pinterest
                  <span class="float-right u-icon-v2 g-width-20 g-height-20 g-font-size-11 rounded-circle g-transition-0"><i class="fa fa-pinterest"></i></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Connected Accounts -->

        <!-- About Me -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h3 class="h6 g-font-weight-600 mb-4">About Me</h3>

            <ul class="list-unstyled g-color-text mb-0">
              <li class="g-py-10">
                <span class="d-block g-font-weight-600">School</span>
                Oxford University
              </li>
              <li class="g-py-10">
                <span class="d-block g-font-weight-600">Work</span>
                American Property
              </li>
              <li class="g-py-10">
                <span class="d-block g-font-weight-600">Languages</span>
                English, Spain
              </li>
            </ul>
          </div>
        </div>
        <!-- End About Me -->
      </div>
    </div>
  </div>
  <!-- End Agent -->

  <!-- Call to Action -->
  <%= render "common/call_action" %>
  <!-- End Call to Action -->
</main>
<!-- End Content -->

<%= render "common/footer" %>