<%= render "common/header" %>
<!-- Content -->
<main>
  <!-- Breadcrumbs & Search -->
  <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero" style="background-image: url(assets/img/bg/map-sketch.jpg);">
    <div class="g-pos-rel g-z-index-1">
      <!-- Breadcrumbs -->
      <div class="container-fluid g-py-50">
        <ul class="u-list-inline g-font-weight-500 mb-2">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Home</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Listing</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>Grid View</span>
          </li>
        </ul>
        <h1 class="h2 mb-0">Grid View - Apartments and Rooms</h1>
      </div>
      <!-- End Breadcrumbs -->

      <div class="container-fluid g-pb-100">
        <div class="g-bg-secondary g-pa-5">
          <!-- Input Group -->
          <form class="g-bg-white g-pa-30">
            <div class="row g-mx-0--md">
              <div class="col-md-6 col-lg-8 g-px-0--md g-mb-30">
                <input class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="Search by City, Address, ZIP ...">
              </div>

              <!-- Input Group -->
              <div class="col-sm-6 col-md-3 col-lg-2 g-px-0--md g-mb-30">
                <select class="js-custom-select w-100 h-100 u-select-v1 g-min-width-150 g-brd-left-none--md g-brd-gray-light-v3 g-bg-white g-color-main g-color-primary--hover g-pt-12 g-pb-13" required
                        data-placeholder="All Cities"
                        data-open-icon="fa fa-angle-down"
                        data-close-icon="fa fa-angle-up">
                  <option></option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="NY">New York</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="VC">Vancouver</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="LN">London</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="BR">Berlin</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="ML">Milan</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="PR">Paris</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="MS">Moscow</option>
                </select>
              </div>
              <!-- End Input Group -->

              <!-- Input Group -->
              <div class="col-sm-6 col-md-3 col-lg-2 g-px-0--md g-mb-30">
                <select class="js-custom-select w-100 h-100 u-select-v1 g-min-width-150 g-brd-left-none--md g-brd-gray-light-v3 g-bg-white g-color-main g-color-primary--hover g-pt-12 g-pb-13" required
                        data-placeholder="All Areas"
                        data-open-icon="fa fa-angle-down"
                        data-close-icon="fa fa-angle-up">
                  <option></option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="NR">North</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="NTE">Northeast</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="NTW">Northwest</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="EA">East</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="SO">South</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="SOE">Southeast</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="SOW">Southwest</option>
                  <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="WE">West</option>
                </select>
              </div>
              <!-- End Input Group -->
            </div>

            <div class="row">
              <div class="col-6 col-lg-3 g-mb-30">
                <!-- Input Group -->
                <div class="input-group-btn">
                  <select class="js-custom-select u-select-v1 w-100 g-brd-gray-light-v3 g-bg-white g-color-main g-color-primary--hover g-py-12" required
                          data-placeholder="All Status"
                          data-open-icon="fa fa-angle-down"
                          data-close-icon="fa fa-angle-up">
                    <option></option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="FR">For Rent</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="FS">For Sale</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="FC">Foreclosure</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="NC">New Construction</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="NL">New Listing</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="OH">Open House</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="RP">Reduced Price</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="RS">Resale</option>
                  </select>
                </div>
                <!-- End Input Group -->
              </div>

              <div class="col-6 col-lg-3 g-mb-30">
                <!-- Input Group -->
                <div class="input-group-btn">
                  <select class="js-custom-select u-select-v1 w-100 g-brd-gray-light-v3 g-bg-white g-color-main g-color-primary--hover g-py-12" required
                          data-placeholder="All Types"
                          data-open-icon="fa fa-angle-down"
                          data-close-icon="fa fa-angle-up">
                    <option></option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="AP">Apartment</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="CO">Condo</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="FA">Farm</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="LO">Loft</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="LO">Lot</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="MU">Multi Family Home</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="SI">Single Family Home</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="TO">Townhouse</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="VI">Villa</option>
                  </select>
                </div>
                <!-- End Input Group -->
              </div>

              <div class="col-6 col-lg-3 g-mb-30">
                <!-- Input Group -->
                <div class="input-group-btn">
                  <select class="js-custom-select u-select-v1 w-100 g-brd-gray-light-v3 g-bg-white g-color-main g-color-primary--hover g-py-12" required
                          data-placeholder="Beds"
                          data-open-icon="fa fa-angle-down"
                          data-close-icon="fa fa-angle-up">
                    <option></option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="1">1</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="2">2</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="3">3</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="4">4</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="5">5</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="6">6</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="7">7</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="8">8</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="9">9</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="10">10</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="ANY">Any</option>
                  </select>
                </div>
                <!-- End Input Group -->
              </div>

              <div class="col-6 col-lg-3 g-mb-30">
                <!-- Input Group -->
                <div class="input-group-btn">
                  <select class="js-custom-select u-select-v1 w-100 g-brd-gray-light-v3 g-bg-white g-color-main g-color-primary--hover g-py-12" required
                          data-placeholder="Baths"
                          data-open-icon="fa fa-angle-down"
                          data-close-icon="fa fa-angle-up">
                    <option></option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="1">1</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="2">2</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="3">3</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="4">4</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="5">5</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="6">6</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="7">7</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="8">8</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="9">9</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="10">10</option>
                    <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="ANY2">Any</option>
                  </select>
                </div>
                <!-- End Input Group -->
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-lg-3 g-mb-30">
                <input class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="Min Area (sqft)">
              </div>

              <div class="col-6 col-lg-3 g-mb-30">
                <input class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="Max Area (sqft)">
              </div>

              <div class="col-sm-6 col-lg-2 g-mb-30">
                <!-- Radio Group -->
                <div class="btn-group justified-content">
                  <label class="u-check">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio" checked="">
                    <span class="btn btn-md btn-block u-btn-outline-white g-brd-gray-light-v3 g-brd-primary--checked g-color-main g-color-primary--checked g-bg-white g-font-size-default rounded-0 g-py-13">Buy</span>
                  </label>
                  <label class="u-check">
                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="radGroupBtn1_1" type="radio">
                    <span class="btn btn-md btn-block u-btn-outline-white g-brd-gray-light-v3 g-brd-primary--checked g-color-main g-color-primary--checked g-bg-white g-font-size-default rounded-0 g-py-13">Rent</span>
                  </label>
                </div>
                <!-- End Radio Group -->
              </div>

              <div class="col-sm-6 col-lg-4 g-mb-30">
                <h2 class="h6 g-font-weight-600 mb-4">Price Range $(<span id="rangeSliderAmount3">0</span>)</h2>
                <div id="rangeSlider1" class="u-slider-v1-3"
                      data-result-container="rangeSliderAmount3"
                      data-range="true"
                      data-default="30, 3500000"
                      data-min="0"
                      data-max="3500000"></div>
              </div>
            </div>

            <!-- Accordion -->
            <div id="accordion-12-1" role="tablist" aria-multiselectable="true">
              <!-- Card -->
              <div class="row align-items-center">
                <div class="col-6">
                  <button class="btn u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-35 g-py-12" type="submit">
                    Search
                  </button>
                </div>

                <div class="col-6">
                  <div id="accordion-12-1-heading-01" class="float-right u-accordion__header g-pa-0" role="tab">
                    <span class="d-block g-font-weight-600 g-font-size-15 mb-0">
                      <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover" href="#accordion-12-1-body-01" data-toggle="collapse" data-parent="#accordion-12-1" aria-expanded="false" aria-controls="accordion-12-1-body-01">
                        Other Features
                        <span class="u-accordion__control-icon ml-2">
                          <i class="fa fa-caret-up">
                          </i>
                          <i class="fa fa-caret-down">
                          </i>
                        </span>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
              <div id="accordion-12-1-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-12-1-heading-01">
                <div class="u-accordion__body g-pt-30 g-pa-0">
                  <div class="row">
                    <div class="col-sm-4 col-md-3 col-lg-2">
                      <!-- Features List -->
                      <ul class="list-unstyled mb-0">
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Barbecue
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Outdoor Shower
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Washer
                          </label>
                        </li>
                      </ul>
                      <!-- End Features List -->
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2">
                      <!-- Features List -->
                      <ul class="list-unstyled mb-0">
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Barbecue
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Outdoor Shower
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Wi-Fi
                          </label>
                        </li>
                      </ul>
                      <!-- End Features List -->
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2">
                      <!-- Features List -->
                      <ul class="list-unstyled mb-0">
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Dryer
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Refrigerator
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Wi-Fi
                          </label>
                        </li>
                      </ul>
                      <!-- End Features List -->
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2">
                      <!-- Features List -->
                      <ul class="list-unstyled mb-0">
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Gym
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Sauna
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Garden
                          </label>
                        </li>
                      </ul>
                      <!-- End Features List -->
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2">
                      <!-- Features List -->
                      <ul class="list-unstyled mb-0">
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Laundry
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Swimming Pool
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Garage
                          </label>
                        </li>
                      </ul>
                      <!-- End Features List -->
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2">
                      <!-- Features List -->
                      <ul class="list-unstyled mb-0">
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Lawn
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            TV Cable
                          </label>
                        </li>
                        <li class="my-2">
                          <label class="form-check-inline u-check d-block u-link-v5 g-color-gray-dark-v4 g-color-primary--hover g-font-weight-500 g-pl-30">
                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                            <span class="d-block u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0">
                              <i class="fa" data-check-icon="&#xf00c"></i>
                            </span>
                            Computer
                          </label>
                        </li>
                      </ul>
                      <!-- End Features List -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </form>
          <!-- End Input Group -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs & Search -->

  <!-- Filters -->
  <div class="container-fluid g-pb-20">
    <div class="row d-flex align-items-center">
      <div class="col-md-7 col-lg-5 g-mb-30">
        <div class="d-flex align-items-center">
          <h2 class="h6 g-font-weight-600 mr-4 mb-0">Show:</h2>

          <!-- Filters - List -->
          <ul class="list-inline g-bg-secondary g-pa-3 mb-0">
            <li class="list-inline-item mr-0">
              <a class="d-block active g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-15 g-py-10" href="#">
                <i class="g-color-main mr-1 icon-grid"></i>
                Grid
              </a>
            </li>
            <li class="list-inline-item mr-0">
              <a class="d-block g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-15 g-py-10" href="#">
                <i class="g-color-main mr-1 icon-list"></i>
                List
              </a>
            </li>
            <li class="list-inline-item mr-0">
              <a class="d-block g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-15 g-py-10" href="#">
                <i class="g-color-main mr-1 icon-location-pin"></i>
                On the Map
              </a>
            </li>
          </ul>
          <!-- End Filters - List -->
        </div>
      </div>

      <div class="col-sm-7 col-md-5 col-lg-4 g-mb-30">
        <!-- Filters - List -->
        <ul class="d-inline-block list-inline g-bg-secondary g-pa-3 mb-0">
          <li class="list-inline-item mr-0">
            <a class="d-block active g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-15 g-py-10" href="#">
              All
            </a>
          </li>
          <li class="list-inline-item mr-0">
            <a class="d-block g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-20 g-py-10" href="#">
              For Sale
            </a>
          </li>
          <li class="list-inline-item mr-0">
            <a class="d-block g-bg-white g-bg-secondary--active g-color-text g-color-primary--hover g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-px-20 g-py-10" href="#">
              For Rent
            </a>
          </li>
        </ul>
        <!-- End Filters - List -->
      </div>

      <div class="col-sm-5 col-md-12 col-lg-3 g-mb-30">
        <div class="d-flex align-items-center float-md-right">
          <h2 class="h6 g-font-weight-600 mr-4 mb-0">Sort by:</h2>

          <!-- Input Group -->
          <div class="input-group-btn">
            <select class="js-custom-select u-select-v1 g-min-width-150 g-brd-none g-bg-secondary g-color-main g-color-primary--hover g-py-12" required
                    data-placeholder="Bestseller"
                    data-open-icon="fa fa-angle-down"
                    data-close-icon="fa fa-angle-up">
              <option></option>
              <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="BE">Bestseller</option>
              <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="TR">Trending</option>
              <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="PR">Price low to high</option>
              <option class="g-brd-none g-color-main g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="PR">price high to low</option>
            </select>
          </div>
          <!-- End Input Group -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Filters -->

  <!-- Grid Items -->
  <div class="container-fluid g-pb-20">
    <div class="row justify-content-center">
      <div class="col-lg-9 order-lg-2 g-mb-70">
        <div class="row">
          <div class="col-xl-4 col-md-6 g-mb-30">
            <!-- Products -->
            <article>
              <img class="img-fluid" src="assets/img-temp/600x450/img1.jpg" alt="Image Description">

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    4 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    3 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    2,020 sqft
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">90 Karl Walk, Port Layla, BL2 0UR</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Excellent Estate</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $780,000
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>

              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-xl-4 col-md-6 g-mb-30">
            <!-- Products -->
            <article>
              <img class="img-fluid" src="assets/img-temp/600x450/img4.jpg" alt="Image Description">

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    3 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    2 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    1,527 sqft
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">470 Lucy Forks, Patriciafurt, YC7B</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $1,620,000
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>

              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-xl-4 col-md-6 g-mb-30">
            <!-- Products -->
            <article>
              <img class="img-fluid" src="assets/img-temp/600x450/img5.jpg" alt="Image Description">

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    1 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    1 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    905 sqft
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">06 Bell Views, Andyshire, BN2L 9WC</h3>
                  <p class="g-font-size-13 mb-4">Edinburgh, Scotland</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real Estate State</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $220,000
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>

              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-xl-4 col-md-6 g-mb-30">
            <!-- Products -->
            <article>
              <img class="img-fluid" src="assets/img-temp/600x450/img11.jpg" alt="Image Description">

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    2 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    1 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    1,348 sqft
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">4 Allen Ramp, New Dean, T01 2WA</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $320,000
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>

              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-xl-4 col-md-6 g-mb-30">
            <!-- Products -->
            <article>
              <img class="img-fluid" src="assets/img-temp/600x450/img1.jpg" alt="Image Description">

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    7 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    5 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    3,725 sqft
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">Flat 60, Ross Green, South Lilyberg</h3>
                  <p class="g-font-size-13 mb-4">Milan, Italy</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real Estate State</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $1,254,000
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>

              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-xl-4 col-md-6 g-mb-30">
            <!-- Products -->
            <article>
              <img class="img-fluid" src="assets/img-temp/600x450/img15.jpg" alt="Image Description">

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    4 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    3 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    2,020 sqft
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">90 Karl Walk, Port Layla, BL2 0UR</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Excellent Estate</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $879,000
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>

              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-xl-4 col-md-6 g-mb-30">
            <!-- Products -->
            <article>
              <img class="img-fluid" src="assets/img-temp/600x450/img3.jpg" alt="Image Description">

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    3 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    2 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    1,527 sqft
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">470 Lucy Forks, Patriciafurt, YC7B</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $1,700,000
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>

              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-xl-4 col-md-6 g-mb-30">
            <!-- Products -->
            <article>
              <img class="img-fluid" src="assets/img-temp/600x450/img2.jpg" alt="Image Description">

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    1 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    1 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    905 sqft
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">06 Bell Views, Andyshire, BN2L 9WC</h3>
                  <p class="g-font-size-13 mb-4">Edinburgh, Scotland</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">Real Estate State</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $560,000
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>

              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-xl-4 col-md-6 g-mb-30">
            <!-- Products -->
            <article>
              <img class="img-fluid" src="assets/img-temp/600x450/img8.jpg" alt="Image Description">

              <div class="g-brd-around g-brd-top-none g-brd-gray-light-v3 g-bg-white">
                <!-- Products - List of Details -->
                <ul class="d-flex list-inline g-brd-y g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-022 u-line-icon-pro"></i>
                    2 Bed rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-brd-x g-brd-gray-light-v3 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-hotel-restaurant-008 u-line-icon-pro"></i>
                    1 Bath rm.
                  </li>
                  <li class="list-inline-item col-4 g-font-weight-500 g-font-size-13 text-center g-px-0 g-py-17 mr-0">
                    <i class="align-middle g-color-text mr-1 icon-real-estate-047 u-line-icon-pro"></i>
                    1,348 sqft
                  </li>
                </ul>
                <!-- End Products - List of Details -->

                <!-- Products - Address -->
                <div class="g-pa-25">
                  <h3 class="g-font-weight-600 g-font-size-16">4 Allen Ramp, New Dean, T01 2WA</h3>
                  <p class="g-font-size-13 mb-4">London, England</p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-1">Agency: <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#">American Property</a></p>
                  <p class="g-color-text g-font-weight-500 g-font-size-13 mb-0">Posted: <span class="g-color-text g-font-weight-400">12 days ago</a></p>
                </div>
                <!-- End Products - Address -->

                <!-- Products - List of Details -->
                <ul class="d-flex list-inline align-items-center g-brd-top g-brd-gray-light-v3 mb-0">
                  <li class="list-inline-item col-8 g-font-weight-600 g-font-size-17 text-center g-px-0 g-py-13 mr-0">
                    $350,000
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-brd-x g-brd-gray-light-v3 g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add to Compare">
                      <i class="icon-finance-149 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item col-2 g-px-0 mr-0">
                    <a class="d-block g-color-text g-color-primary--hover g-font-weight-500 g-font-size-17 text-center g-text-underline--none--hover g-py-13" href="javascript:void(0);"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Save to Wishlist">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Products - List of Details -->
              </div>

              <a class="btn btn-block g-brd-top-none g-brd-gray-light-v3 g-brd-primary--hover g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" href="/pages-single">
                See Details
                <i class="align-middle ml-2 fa fa-angle-right"></i>
              </a>
            </article>
            <!-- End Products -->
          </div>

          <div class="col-lg-12">
            <!-- Pagination -->
            <nav class="text-center g-mt-30" aria-label="Page Navigation">
              <ul class="list-inline">
                <li class="list-inline-item float-sm-left">
                  <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#!" aria-label="Previous">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i>
                      Previous
                    </span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--active g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">1</a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">2</a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">3</a>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <span class="g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19">...</span>
                </li>
                <li class="list-inline-item g-hidden-sm-down">
                  <a class="u-pagination-v1__item u-pagination-v1-2 g-brd-gray-light-v3 bilan g-brd-primary--hover g-pa-12-19" href="#!">15</a>
                </li>
                <li class="list-inline-item float-sm-right">
                  <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--nav g-pa-12-21" href="#!" aria-label="Next">
                    <span aria-hidden="true">
                      Next
                      <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- End Pagination -->
          </div>
        </div>
      </div>

      <div class="col-md-5 col-lg-3 order-lg-1 g-mb-70">
        <!-- Calculator -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h2 class="h6 g-font-weight-600 mb-4">Mortgage Calculator</h2>

            <form>
              <!-- Text Input with Right Appended Icon -->
              <div class="form-group g-mb-20">
                <div class="input-group g-brd-primary--focus">
                  <div class="input-group-prepend g-color-gray-light-v1 g-font-size-12 rounded-0">
                    <div class="input-group-text justify-content-center g-width-40 g-bg-white g-brd-gray-light-v3">
                      <i class="g-font-style-normal">&#36;</i>
                    </div>
                  </div>
                  <input class="form-control form-control-md g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-12" type="text" placeholder="Total Amount">
                </div>
              </div>
              <!-- End Text Input with Right Appended Icon -->

              <!-- Text Input with Right Appended Icon -->
              <div class="form-group g-mb-20">
                <div class="input-group g-brd-primary--focus">
                  <div class="input-group-prepend g-color-gray-light-v1 g-font-size-12 rounded-0">
                    <div class="input-group-text justify-content-center g-width-40 g-bg-white g-brd-gray-light-v3">
                      <i class="g-font-style-normal">&#36;</i>
                    </div>
                  </div>
                  <input class="form-control form-control-md g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-12" type="text" placeholder="Down Payment">
                </div>
              </div>
              <!-- End Text Input with Right Appended Icon -->

              <!-- Text Input with Right Appended Icon -->
              <div class="form-group g-mb-20">
                <div class="input-group g-brd-primary--focus">
                  <div class="input-group-prepend g-color-gray-light-v1 g-font-size-12 rounded-0">
                    <div class="input-group-text justify-content-center g-width-40 g-bg-white g-brd-gray-light-v3">
                      <i class="g-font-style-normal">&#37;</i>
                    </div>
                  </div>
                  <input class="form-control form-control-md g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-12" type="text" placeholder="Interest Rate">
                </div>
              </div>
              <!-- End Text Input with Right Appended Icon -->

              <!-- Select Date Range -->
              <div class="form-group mb-20">
                <!-- Datepicker -->
                <div class="input-group g-brd-primary--focus">
                  <div class="input-group-prepend g-color-gray-light-v1 g-font-size-12 rounded-0">
                    <div class="input-group-text justify-content-center g-width-40 g-bg-white g-brd-gray-light-v3">
                      <i class="icon-calendar"></i>
                    </div>
                  </div>
                  <input id="datepickerFrom" class="form-control form-control-md u-datepicker-v1 g-brd-gray-light-v3 g-font-weight-500 rounded-0 g-py-11" type="text" placeholder="Start date" data-range="true" data-to="datepickerTo">
                </div>
                <!-- End Datepicker -->
              </div>
              <!-- Select Date Range -->

              <!-- Input Group -->
              <div class="input-group-btn g-mb-20">
                <select class="js-custom-select w-100 u-select-v1 g-brd-gray-light-v3 g-color-gray-dark-v5 g-color-primary--hover g-font-weight-500 g-py-10" required
                        data-placeholder="Monthly"
                        data-open-icon="fa fa-angle-down"
                        data-close-icon="fa fa-angle-up">
                  <option></option>
                  <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="MO">Monthly</option>
                  <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="DA">Daily</option>
                  <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="WE">Weekly</option>
                  <option class="g-brd-none g-color-gray-dark-v5 g-color-white--hover g-color-white--active g-bg-primary--hover g-bg-primary--active" value="YE">Yearly</option>
                </select>
              </div>
              <!-- End Input Group -->

              <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-35 g-py-12" type="submit">Calculate</button>
            </form>
          </div>
        </div>
        <!-- End Calculator -->

        <!-- Property Status -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h2 class="h6 g-font-weight-600 mb-4">Property Status</h2>

            <ul class="list-unstyled g-font-weight-500 mb-0">
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> For Rent</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(53)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> For Sale</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(38)</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Property Status -->

        <!-- Property Type -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h2 class="h6 g-font-weight-600 mb-4">Property Type</h2>

            <ul class="list-unstyled g-font-weight-500 mb-0">
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Apartment</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(27)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Loft</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(2)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Lease</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(12)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Multi Family Home</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(9)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Single Family Home</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(19)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Studio</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(5)</span>
              </li>
              <li class="g-py-2">
                <a href="#"><i class="mr-1 fa fa-caret-right"></i> Villa</a>
                <span class="float-right g-color-gray-dark-v5 g-font-size-13">(10)</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Property Type -->

        <!-- Recently Viewed -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h2 class="h6 g-font-weight-600 mb-4">Recently Viewed</h2>

            <ul class="list-unstyled g-font-weight-500 mb-0">
              <!-- Recently Viewed - Products -->
              <li class="g-brd-bottom g-brd-gray-light-v3 g-pb-30">
                <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img1.jpg" alt="Image Description">
                <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/pages-single">Comfortable Room in LA</a></h3>
                <span class="d-block g-color-text g-font-weight-600 mb-2">$3,000/mo</span>
                <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                  <li class="list-inline-item">1 bed</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">1 bat</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">900 sqft</li>
                </ul>
              </li>
              <!-- End Recently Viewed - Products -->

              <!-- Recently Viewed - Products -->
              <li class="g-brd-bottom g-brd-gray-light-v3 g-py-30">
                <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img2.jpg" alt="Image Description">
                <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/pages-single">Studio in LA</a></h3>
                <span class="d-block g-color-text g-font-weight-600 mb-2">$2,000/mo</span>
                <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                  <li class="list-inline-item">1 bed</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">1 bat</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">855 sqft</li>
                </ul>
              </li>
              <!-- End Recently Viewed - Products -->

              <!-- Recently Viewed - Products -->
              <li class="g-py-30">
                <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img3.jpg" alt="Image Description">
                <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/pages-single">A Room in LA</a></h3>
                <span class="d-block g-color-text g-font-weight-600 mb-2">$1,000/mo</span>
                <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                  <li class="list-inline-item">1 bed</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">1 bat</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">657 sqft</li>
                </ul>
              </li>
              <!-- End Recently Viewed - Products -->
            </ul>
          </div>
        </div>
        <!-- End Recently Viewed -->
      </div>
    </div>
  </div>
  <!-- End Grid Items -->

  <hr class="g-brd-gray-light-v4">

  <!-- New Lands -->
  <div class="container-fluid text-center g-pt-50 g-pb-80">
    <h2 class="h4 g-mb-30">Discover new land estates in England</h2>

    <!-- Products - Carousel Image -->
    <div class="js-carousel g-mx-40"
          data-infinite="true"
          data-slides-show="3"
          data-center-mode="true"
          data-center-padding="60px"
          data-arrows-classes="u-arrow-v1 g-width-30 g-height-30 g-color-white g-bg-primary g-bg-primary-dark-v1--hover g-absolute-centered--y"
          data-arrow-left-classes="fa fa-angle-left g-left-minus-40 g-brd-right g-brd-white-opacity-0_1"
          data-arrow-right-classes="fa fa-angle-right g-right-minus-40"
          data-responsive='[{
            "breakpoint": 1800,
            "settings": {
              "slidesToShow": 4
            }
          }, {
            "breakpoint": 1200,
            "settings": {
              "slidesToShow": 3
            }
          }, {
            "breakpoint": 992,
            "settings": {
              "slidesToShow": 2
            }
          }, {
            "breakpoint": 768,
            "settings": {
              "slidesToShow": 1
            }
          }, {
            "breakpoint": 576,
            "settings": {
              "slidesToShow": 1
            }
          }, {
            "breakpoint": 446,
            "settings": {
              "slidesToShow": 1
            }
          }]'>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img4.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">London</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img5.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Liverpool</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img6.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Manchester</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img7.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Bristol</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img8.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Newcastle</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img9.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Leeds</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img10.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">York</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img11.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Sheffield</h3>
      </div>
      <div class="js-slide g-px-10">
        <a class="u-block-hover" href="#">
          <span class="d-block u-block-hover u-bg-overlay g-bg-primary-opacity-0_3--hover--after g-transition-0_3 mb-3">
            <img class="img-fluid w-100" src="assets/img-temp/400x250/img12.jpg" alt="Image Description">
          </span>
        </a>
        <h3 class="h6 mb-0">Cambridge</h3>
      </div>
    </div>
    <!-- Products - Carousel Image -->
  </div>
  <!-- End New Lands -->

  <!-- Call to Action -->
  <%= render "common/call_action" %>
  <!-- End Call to Action -->
</main>
<!-- End Content -->

<%= render "common/footer" %>