<%= render "common/header" %>
<!-- Content -->
<main>
  <!-- Listing - Carousel Image -->
  <div class="g-pos-rel">
    <label class="u-ribbon g-color-white g-bg-primary g-font-weight-600 g-pos-abs g-bottom-0 g-left-5 g-z-index-1 g-px-10 g-py-6">10 images</label>

    <div class="js-carousel g-pt-6 g-mx-2"
          data-infinite="true"
          data-slides-show="5"
          data-slides-scroll="1"
          data-rows="2"
          data-responsive='[{
            "breakpoint": 1200,
            "settings": {
              "slidesToShow": 5
            }
          }, {
            "breakpoint": 992,
            "settings": {
              "slidesToShow": 4
            }
          }, {
            "breakpoint": 768,
            "settings": {
              "slidesToShow": 3
            }
          }, {
            "breakpoint": 576,
            "settings": {
              "slidesToShow": 2
            }
          }, {
            "breakpoint": 446,
            "settings": {
              "slidesToShow": 2
            }
          }]'>
      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img2.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img13.jpg" alt="Image Description">
        </a>
      </div>

      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img3.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img14.jpg" alt="Image Description">
        </a>
      </div>

      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img4.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img15.jpg" alt="Image Description">
        </a>
      </div>

      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img5.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img16.jpg" alt="Image Description">
        </a>
      </div>

      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img6.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img17.jpg" alt="Image Description">
        </a>
      </div>

      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img7.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img18.jpg" alt="Image Description">
        </a>
      </div>

      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img8.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img19.jpg" alt="Image Description">
        </a>
      </div>

      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img9.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img20.jpg" alt="Image Description">
        </a>
      </div>

      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img10.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img21.jpg" alt="Image Description">
        </a>
      </div>

      <div class="js-slide g-px-3">
        <a class="js-fancybox d-block" href="javascript:;"
            data-fancybox="lightbox-gallery--01"
            data-src="assets/img-temp/1920x1080/img11.jpg"
            data-speed="350"
            data-caption="Lightbox Gallery">
          <img class="img-fluid" src="assets/img-temp/400x250/img22.jpg" alt="Image Description">
        </a>
      </div>
    </div>
  </div>
  <!-- End Listing - Carousel Image -->

  <!-- Breadcrumbs -->
  <div class="container g-pt-50 g-pb-80">
    <ul class="u-list-inline g-font-weight-500 mb-2">
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">For Sale</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">England</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">London</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li class="list-inline-item g-mr-5">
        <a class="u-link-v5 g-color-gray-dark-v5 g-color-main--hover" href="#">Paradise</a>
        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
      </li>
      <li class="list-inline-item g-color-gray-dark-v5">
        <span>470 Lucy Forks, Patriciafurt, YC7B</span>
      </li>
    </ul>
    <h1 class="h2 mb-0">470 Lucy Forks, Patriciafurt, YC7B, London, England</h1>
  </div>
  <!-- End Breadcrumbs -->

  <!-- Listing - Main Info -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 g-mb-30">
        <div class="row">
          <!-- Listing - List of Details -->
          <ul class="col-md-6 list-unstyled g-font-weight-600 mb-0">
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Status:</span>
              <span class="float-right g-color-lightred">Active</span>
            </li>
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Available for:</span>
              <span class="float-right g-color-black">Sale, Rent</span>
            </li>
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Address:</span>
              <span class="float-right g-color-black">470 Lucy Forks, Patriciafurt, YC7B</span>
            </li>
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Area:</span>
              <span class="float-right g-color-black">London</span>
            </li>
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Built in:</span>
              <span class="float-right g-color-black">1999</span>
            </li>
          </ul>
          <!-- End Listing - List of Details -->

          <!-- Listing - List of Details -->
          <ul class="col-md-6 list-unstyled g-font-weight-600 mb-0">
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Room(s):</span>
              <span class="float-right g-color-black">7</span>
            </li>
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Bed(s):</span>
              <span class="float-right g-color-black">5</span>
            </li>
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Bath(s):</span>
              <span class="float-right g-color-black">3</span>
            </li>
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Total SQFT:</span>
              <span class="float-right g-color-black">5,016</span>
            </li>
            <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
              <span class="g-color-text g-font-size-12">Living SQFT:</span>
              <span class="float-right g-color-black">4,375</span>
            </li>
          </ul>
          <!-- End Listing - List of Details -->
        </div>

        <!-- Listing - Numbers -->
        <div class="g-brd-top g-brd-gray-light-v3 g-pt-40 g-mt-40">
          <div class="row">
            <div class="col-sm-6 g-brd-right--sm g-brd-gray-light-v3 g-mb-30 g-mb-0--sm">
              <h2 class="h5">For Rent</h2>
              <span class="d-block g-font-weight-600 g-font-size-25">$1,700 <span class="g-color-text g-font-size-15">/USD</span></span>
              <span class="d-block g-color-text">Home Mortgage</span>
            </div>
            <div class="col-sm-6 g-mb-20 g-mb-0--sm">
              <div class="g-pl-30--md">
                <h2 class="h5">For Sale</h2>
                <span class="d-block g-font-weight-600 g-font-size-25">$11,700,000,00 <span class="g-color-text g-font-size-15">/USD</span></span>
                <span class="d-block g-color-text">Home Mortgage</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Listing - Numbers -->
      </div>

      <div class="col-md-4 g-mb-30">
        <!-- Listing - Agents -->
        <div class="u-shadow-v11 text-center">
          <div class="g-bg-white g-pa-20">
            <div class="g-width-130 g-height-130 mx-auto mb-4">
              <img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle" src="assets/img-temp/200x200/img6.jpg" alt="Image Description">
            </div>
            <div class="mb-3">
              <h3 class="h5"><a class="g-color-main" href="#">Rose Allie</a></h3>
              <span class="d-block g-color-gray-dark-v5 g-font-size-13 mb-1">Managing Director</span>
            </div>
            <span class="d-block g-font-weight-500 g-font-size-13">(0161) 347 8854</span>
            <span class="d-block g-font-weight-500 g-font-size-13">rosa@realestate.com</span>
          </div>
          <a class="btn btn-block u-btn-primary g-color-white--hover g-bg-secondary-dark-light-v1--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15" href="/welcome-contacts">
            Request for Review
          </a>
          <a class="btn btn-block g-color-main g-bg-white g-bg-secondary--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15 mt-0" href="#">Request Info</a>
        </div>
        <!-- End Listing - Agents -->
      </div>
    </div>

    <!-- Listing - Additional Info -->
    <div class="g-bg-secondary g-px-30 g-py-20">
      <div class="row align-items-center">
        <div class="col-lg-5 g-mb-25 g-mb-0--lg">
          <!-- Listing - Share -->
          <div class="d-flex align-items-center">
            <h3 class="h6 g-font-weight-600 mr-4 mb-0">Share:</h3>

            <ul class="list-inline mb-0">
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 g-width-35 g-height-35 g-color-text g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13" href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 g-width-35 g-height-35 g-color-text g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13" href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 g-width-35 g-height-35 g-color-text g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13" href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 g-width-35 g-height-35 g-color-text g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13" href="#">
                  <i class="fa fa-pinterest-p"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 g-width-35 g-height-35 g-color-text g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13" href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Listing - Share -->
        </div>

        <div class="col-lg-7">
          <!-- Listing - Share -->
          <div class="d-flex align-items-center float-lg-right">
            <ul class="list-inline g-color-text g-font-weight-600 g-font-size-13 mb-0">
              <li class="list-inline-item mr-0">Property ID: <span class="g-font-weight-400">HG328e91UA</span></li>
              <li class="list-inline-item g-mx-40">Published: <span class="g-font-weight-400">September 17, 2017</span></li>
              <li class="list-inline-item mr-0">View: <span class="g-font-weight-400">67</span></li>
            </ul>
          </div>
          <!-- End Listing - Share -->
        </div>
      </div>
    </div>
    <!-- End Listing - Additional Info -->
  </div>
  <!-- End Listing - Main Info -->

  <!-- Listing - More Info -->
  <div class="container g-pt-100">
    <div class="row justify-content-center">
      <div class="col-lg-9 g-mb-70">
        <!-- Listing - Description -->
        <div class="g-brd-bottom g-brd-gray-light-v3 g-pb-30">
          <div class="row">
            <div class="col-md-3 g-mb-30">
              <h3 class="h6 g-font-weight-600 text-uppercase mb-0">Description</h3>
            </div>

            <div class="col-md-9 g-mb-30">
              <p>Paradise at The Point! This luxurious 4 bedroom 4.5 bath Dienst-built estate on the Lake Norman peninsula is a dream home in a high-end community that's home to Trump National Golf Club. Spanning over 4900 SF, this magnificent waterfront residence graced by soaring ceilings and wall-to-wall windows is a haven for gazing at Lake Norman views from multiple vantage points. The grand entryway with a sweeping staircase draws you into a voluminous layout made for entertaining.</p>
              <p class="mb-0">The 2-story great room with French doors to the rear deck is the dramatic focal point of the main level, accompanied by an elegant formal dining room, tremendous chef's kitchen, den/family room with a marble fireplace and glass doors to the backyard, and home office with gorgeous built-ins. </p>
            </div>
          </div>
        </div>
        <!-- End Listing - Description -->

        <!-- Listing - Property Details -->
        <div class="g-brd-bottom g-brd-gray-light-v3 g-py-30 g-mt-30 g-mb-30">
          <div class="row">
            <div class="col-md-3 g-mb-30">
              <h3 class="h6 g-font-weight-600 text-uppercase mb-0">Property Details</h3>
            </div>

            <div class="col-md-9 g-mb-30">
              <div class="row">
                <div class="col-md-6 g-mb-30 g-mb-0--md">
                  <h3 class="h6 g-font-weight-600 mb-4">House Info</h3>

                  <div class="row">
                    <!-- Listing - List of Details -->
                    <ul class="col-sm-6 g-font-weight-600 g-pl-30 mb-0">
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Houses</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Built in 1999</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">House SQFT: 5,016</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Living SQFT: 4,375</span>
                      </li>
                    </ul>
                    <!-- End Listing - List of Details -->

                    <!-- Listing - List of Details -->
                    <ul class="col-sm-6 g-font-weight-600 g-pl-30 mb-0">
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Rooms: 7</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Beds: 5</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Bath: 3</span>
                      </li>
                    </ul>
                    <!-- End Listing - List of Details -->
                  </div>
                </div>

                <div class="col-md-6">
                  <h3 class="h6 g-font-weight-600 mb-4">Features</h3>

                  <div class="row">
                    <!-- Listing - List of Details -->
                    <ul class="col-sm-6 g-font-weight-600 g-pl-30 mb-0">
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Heating Source: Gas</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Patio</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Garage</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Cable Ready</span>
                      </li>
                    </ul>
                    <!-- End Listing - List of Details -->

                    <!-- Listing - List of Details -->
                    <ul class="col-sm-6 g-font-weight-600 g-pl-30 mb-0">
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Fireplace</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Microwave</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Ceiling Fan</span>
                      </li>
                      <li class="mb-3">
                        <span class="g-color-text g-font-size-12">Assigned Parking Space</span>
                      </li>
                    </ul>
                    <!-- End Listing - List of Details -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Listing - Property Details -->

        <!-- Listing - Location on Map -->
        <div class="g-brd-bottom g-brd-gray-light-v3 g-py-30 g-mt-30 g-mb-30">
          <div class="row">
            <div class="col-md-3 g-mb-30">
              <h3 class="h6 g-font-weight-600 text-uppercase mb-0">Location on Map</h3>
            </div>

            <div class="col-md-9 g-mb-30">
              <!-- Google Map -->
              <div id="GMapCustomized-light" class="js-g-map embed-responsive embed-responsive-21by9 g-height-300"
                    data-type="custom"
                    data-lat="40.674"
                    data-lng="-73.946"
                    data-zoom="12"
                    data-title="Agency"
                    data-styles='[["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]], ["", "labels", [{"visibility":"on"}]], ["water", "", [{"color":"#bac6cb"}]] ]'
                    data-pin="true"
                    data-pin-icon="assets/img/icons/pin/marker.png">
              </div>
              <!-- End Google Map -->
            </div>
          </div>
        </div>
        <!-- End Listing - Location on Map -->

        <!-- Listing - Property History -->
        <div class="g-brd-bottom g-brd-gray-light-v3 g-py-30 g-mt-30 g-mb-30">
          <div class="row">
            <div class="col-md-3 g-mb-30">
              <h3 class="h6 g-font-weight-600 text-uppercase mb-0">Property History</h3>
            </div>

            <div class="col-md-9 g-mb-30">
              <h3 class="h6 g-font-weight-600 mb-4">Price and Mortgage History</h3>

              <!-- Table Bordered -->
              <div class="table-responsive g-mb-30">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Event</th>
                      <th>Price</th>
                      <th>Agent/Lender</th>
                      <th>Source</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>17/09/2017</td>
                      <td>Listed for Sale</td>
                      <td>$11,700,000,00</td>
                      <td>--</td>
                      <td>Public Record</td>
                    </tr>
                    <tr>
                      <td>17/09/2017</td>
                      <td>Listed for Sale</td>
                      <td>$11,700,000,00</td>
                      <td>--</td>
                      <td>Public Record</td>
                    </tr>
                    <tr>
                      <td>02/08/2017</td>
                      <td>Rented</td>
                      <td>$1,700</td>
                      <td>--</td>
                      <td>Public Record</td>
                    </tr>
                    <tr>
                      <td>22/07/2017</td>
                      <td>Rented</td>
                      <td>$1,700</td>
                      <td>--</td>
                      <td>Public Record</td>
                    </tr>
                    <tr>
                      <td>05/05/2017</td>
                      <td>Rented</td>
                      <td>$1,700</td>
                      <td>--</td>
                      <td>Public Record</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End Table Bordered -->

              <h3 class="h6 g-font-weight-600 mb-4">Tax History</h3>

              <!-- Table Bordered -->
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Property Taxes</th>
                      <th>Change</th>
                      <th>Assessment</th>
                      <th>Change</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>2017</td>
                      <td>$1,387</td>
                      <td>--</td>
                      <td>$12,489</td>
                      <td class="g-color-green">+3.41</td>
                    </tr>
                    <tr>
                      <td>2016</td>
                      <td>$1,387</td>
                      <td>--</td>
                      <td>$11,233</td>
                      <td class="g-color-green">+3.20</td>
                    </tr>
                    <tr>
                      <td>2015</td>
                      <td>$1,100</td>
                      <td class="g-color-green">+1.46</td>
                      <td>$10,310</td>
                      <td class="g-color-green">+2.84</td>
                    </tr>
                    <tr>
                      <td>2014</td>
                      <td>--</td>
                      <td>--</td>
                      <td>$8,930</td>
                      <td class="g-color-green">+2.01</td>
                    </tr>
                    <tr>
                      <td>2013</td>
                      <td>--</td>
                      <td>--</td>
                      <td>$8,238</td>
                      <td class="g-color-green">+2</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#">More <i class="align-middle ml-2 fa fa-angle-down"></i></a>
              </div>
              <!-- End Table Bordered -->
            </div>
          </div>
        </div>
        <!-- End Listing - Property History -->

        <!-- Listing - Neighborhood -->
        <div class="g-brd-bottom g-brd-gray-light-v3 g-py-30 g-mt-30 g-mb-30">
          <div class="row">
            <div class="col-md-3 g-mb-30">
              <h3 class="h6 g-font-weight-600 text-uppercase mb-0">Neighborhood</h3>
            </div>

            <div class="col-md-9 g-mb-30">
              <div class="row">
                <div class="col-6 g-mb-30">
                  <h4 class="h6 g-font-weight-400">Average Age</h4>
                  <span class="d-block g-color-primary g-font-size-20">45 yrs</span>
                </div>
                <div class="col-6 g-mb-30">
                  <h4 class="h6 g-font-weight-400">Married</h4>
                  <span class="d-block g-color-primary g-font-size-20">32%</span>
                </div>
                <div class="w-100"></div>
                <div class="col-6 g-mb-30">
                  <h4 class="h6 g-font-weight-400">College Grads</h4>
                  <span class="d-block g-color-primary g-font-size-20">41%</span>
                </div>
                <div class="col-6 g-mb-30">
                  <h4 class="h6 g-font-weight-400">Built Around</h4>
                  <span class="d-block g-color-primary g-font-size-20">4,278</span>
                </div>
              </div>

              <div class="g-mb-30">
                <h4 class="h6 g-font-weight-400">Ownership</h4>
                <div class="progress g-height-20 rounded-0 u-progress mb-1">
                  <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="g-color-text">88% Own</span>
                  <span class="g-color-text">12% Rent</span>
                </div>
              </div>

              <a class="d-inline-block g-brd-bottom--dashed g-brd-primary g-color-text g-color-primary--hover g-font-size-13 g-text-underline--none--hover g-pb-1" href="#">Read about our Methodology</a>
            </div>
          </div>
        </div>
        <!-- End Listing - Neighborhood -->

        <!-- Listing - Utilities Estimate -->
        <div class="g-brd-bottom g-brd-gray-light-v3 g-py-30 g-mt-30 g-mb-30">
          <div class="row">
            <div class="col-md-3 g-mb-30">
              <h3 class="h6 g-font-weight-600 text-uppercase mb-0">Utilities Estimate</h3>
            </div>

            <div class="col-md-9 g-mb-30">
              <div class="row">
                <div class="col-sm-6 g-mb-30">
                  <h4 class="h5 g-font-weight-400 mb-3">Score: <span class="g-font-weight-600">Excellent</span></h4>
                  <p class="g-font-size-13 mb-0">This Property Scored <span class="g-font-weight-500">81/100</span></p>
                  <p class="g-font-size-13 mb-0">Lower costs than most in the area</p>
                </div>
                <div class="col-sm-6 g-mb-30">
                  <h4 class="h6 g-font-weight-600 mb-3">Total Cost: $198 / Monthly</h4>
                  <ul class="list-unstyled g-color-text">
                    <li class="g-py-5">
                      <i class="align-middle mr-2 icon-science-143 u-line-icon-pro"></i>
                      Gas: <span class="g-font-weight-500">$9.90</span>
                    </li>
                    <li class="g-py-5">
                      <i class="align-middle mr-2 icon-science-123 u-line-icon-pro"></i>
                      Water: <span class="g-font-weight-500">$105</span>
                    </li>
                    <li class="g-py-5">
                      <i class="align-middle mr-2 icon-science-018 u-line-icon-pro"></i>
                      Electric: <span class="g-font-weight-500">$56.50</span>
                    </li>
                  </ul>
                </div>
              </div>

              <a class="d-inline-block g-brd-bottom--dashed g-brd-primary g-color-text g-color-primary--hover g-font-size-13 g-text-underline--none--hover g-pb-1" href="#">Disclaimer</a>
              <span class="g-color-text mx-3">|</span>
              <a class="d-inline-block g-brd-bottom--dashed g-brd-primary g-color-text g-color-primary--hover g-font-size-13 g-text-underline--none--hover g-pb-1" href="#">About UtilityScore</a>
            </div>
          </div>
        </div>
        <!-- End Listing - Utilities Estimate -->

        <!-- Listing - Nearby Schools -->
        <div class="g-brd-bottom g-brd-gray-light-v3 g-py-30 g-mt-30 g-mb-30">
          <div class="row">
            <div class="col-md-3 g-mb-30">
              <h3 class="h6 g-font-weight-600 text-uppercase mb-0">Nearby Schools</h3>
            </div>

            <div class="col-md-9 g-mb-30">
              <!-- Table Bordered -->
              <div class="table-responsive g-mb-30">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Rating</th>
                      <th>Nearby Schools</th>
                      <th>Grades</th>
                      <th>Distance</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>4</td>
                      <td>George E Harris Elementary School</td>
                      <td>PK-5</td>
                      <td>1mi</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>C W Woodbury Middle School</td>
                      <td>7-8</td>
                      <td>1.25mi</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Chaparral High School</td>
                      <td>8</td>
                      <td>0.5mi</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End Table Bordered -->

              <a class="d-inline-block g-brd-bottom--dashed g-brd-primary g-color-text g-color-primary--hover g-font-size-13 g-text-underline--none--hover g-pb-1" href="#">Disclaimer</a>
              <span class="g-color-text mx-3">|</span>
              <a class="d-inline-block g-brd-bottom--dashed g-brd-primary g-color-text g-color-primary--hover g-font-size-13 g-text-underline--none--hover g-pb-1" href="#">About UtilityScore</a>
            </div>
          </div>
        </div>
        <!-- End Listing - Nearby Schools -->
      </div>

      <div class="col-md-5 col-lg-3 g-mb-70">
        <!-- Popular Properties -->
        <div class="g-bg-secondary g-pa-5 g-mb-30">
          <div class="g-bg-white g-pa-15">
            <h2 class="h6 g-font-weight-600 mb-4">Popular Properties</h2>

            <ul class="list-unstyled g-font-weight-500 mb-0">
              <!-- Popular Properties - Products -->
              <li class="g-brd-bottom g-brd-gray-light-v3 g-pb-30">
                <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img1.jpg" alt="Image Description">
                <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/pages-single">Comfortable Room in LA</a></h3>
                <span class="d-block g-color-text g-font-weight-600 mb-2">$3,000/mo</span>
                <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                  <li class="list-inline-item">1 bed</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">1 bat</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">900 SQFT</li>
                </ul>
              </li>
              <!-- End Popular Properties - Products -->

              <!-- Popular Properties - Products -->
              <li class="g-brd-bottom g-brd-gray-light-v3 g-py-30">
                <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img2.jpg" alt="Image Description">
                <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/pages-single">Studio in LA</a></h3>
                <span class="d-block g-color-text g-font-weight-600 mb-2">$2,000/mo</span>
                <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                  <li class="list-inline-item">1 bed</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">1 bat</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">855 SQFT</li>
                </ul>
              </li>
              <!-- End Popular Properties - Products -->

              <!-- Popular Properties - Products -->
              <li class="g-py-30">
                <img class="img-fluid w-100 mb-3" src="assets/img-temp/400x250/img3.jpg" alt="Image Description">
                <h3 class="h6 g-font-weight-600 mb-1"><a class="u-link-v5 g-color-main g-color-primary--hover" href="/pages-single">A Room in LA</a></h3>
                <span class="d-block g-color-text g-font-weight-600 mb-2">$1,000/mo</span>
                <ul class="list-inline g-color-gray-dark-v5 g-font-size-13 mb-0">
                  <li class="list-inline-item">1 bed</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">1 bat</li>
                  <li class="list-inline-item">&#8226;</li>
                  <li class="list-inline-item">657 SQFT</li>
                </ul>
              </li>
              <!-- End Popular Properties - Products -->
            </ul>
          </div>
        </div>
        <!-- End Popular Properties -->
      </div>
    </div>
  </div>
  <!-- End Listing - More Info -->

  <!-- Call to Action -->
  <%= render "common/call_action" %>
  <!-- End Call to Action -->
</main>
<!-- End Content -->

<%= render "common/footer" %>