{# Settings #}
{% set root = "../../" %}
{% set mainNavActive_1 = "shortcodes" %}
{% set sidebarNavActive_1 = "shortcode-blocks-cta-full-width" %}
{% set title = "Call To Action - Full Width" %}

{% include "html/assets/include/nunjucks/partials/head.njk" %}
{% include "html/assets/include/nunjucks/partials/core-fonts.njk" %}
{% include "html/assets/include/nunjucks/partials/core-css.njk" %}
{% include "html/assets/include/nunjucks/partials/core-icons.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-dzsparallaxer.njk" %}
<link rel="stylesheet" href="{{ root }}assets/vendor/icon-material/material-icons.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/animate.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/jquery-ui/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ root }}assets/vendor/hamburgers/hamburgers.min.css">

{% include "html/assets/include/nunjucks/partials/css/css-showcode.njk" %}

{% include "html/assets/include/nunjucks/partials/css/css-unify.njk" %}
{% include "html/assets/include/nunjucks/partials/css/css-custom.njk" %}
</head>

<body class="u-body--header-side-push-left u-body--header-side-opened u-has-sidebar-navigation g-overflow-x-hidden">
  <main>
    {% include "html/assets/include/nunjucks/partials/blocks/headers/header-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/sidebars/sidebar-shortcode-nav.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/page-title/shortcode-page-title/shortcode-page-title-block.njk" %}

    <section>
      <!-- Call To Action #01 -->
      <section class="g-py-50">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Call To Action
              <span class="g-color-primary g-ml-5">#01</span>
            </h2>
          </div>
        </div>

        <!-- Bordered Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode1">
            <div class="shortcode-html">
              <section class="g-brd-around g-brd-gray-light-v4 g-py-50 g-px-30">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9 align-self-center">
                      <h3 class="h4">Contact us at
                        <a class="g-color-primary" href="mailto:support@htmlstream.com">support@htmlstream.com</a>
                        or give us a call
                        <a class="g-color-primary" href="tel:+44(35)773892"> +44 (35) 77 3892</a>
                      </h3>
                      <p class="lead g-mb-20 g-mb-0--md">Unify creative technology company providing key digital services and focused on helping our clients to build a successful business on web and mobile.</p>
                    </div>

                    <div class="col-md-3 align-self-center text-md-right">
                      <a class="btn btn-md u-btn-primary g-brd-2 rounded-0" href="#!">Purchase Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode1" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Bordered Call To Action -->

        <!-- Bordered Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode2">
            <div class="shortcode-html">
              <section class="g-brd-top g-brd-bottom g-brd-5 g-brd-gray-light-v4 g-py-50 g-px-30">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9 align-self-center">
                      <h3 class="h4">Contact us at
                        <a class="g-color-primary" href="mailto:support@htmlstream.com">support@htmlstream.com</a>
                        or give us a call
                        <a class="g-color-primary" href="tel:+44(35)773892"> +44 (35) 77 3892</a>
                      </h3>
                      <p class="lead g-mb-20 g-mb-0--md">Unify creative technology company providing key digital services and focused on helping our clients to build a successful business on web and mobile.</p>
                    </div>

                    <div class="col-md-3 align-self-center text-md-right">
                      <a class="btn btn-md u-btn-darkgray g-brd-2 rounded-0" href="#!">Purchase Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode2" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Bordered Call To Action -->

        <!-- Light Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode3">
            <div class="shortcode-html">
              <section class="g-bg-gray-light-v5 g-py-50 g-px-30">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9 align-self-center">
                      <h3 class="h4">Contact us at
                        <a class="g-color-primary" href="mailto:support@htmlstream.com">support@htmlstream.com</a>
                        or give us a call
                        <a class="g-color-primary" href="tel:+44(35)773892"> +44 (35) 77 3892</a>
                      </h3>
                      <p class="lead g-mb-20 g-mb-0--md">Unify creative technology company providing key digital services and focused on helping our clients to build a successful business on web and mobile.</p>
                    </div>

                    <div class="col-md-3 align-self-center text-md-right">
                      <a class="btn btn-md u-btn-outline-primary g-brd-2 rounded-0" href="#!">Purchase Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode3" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Light Call To Action -->

        <!-- Primary Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode4">
            <div class="shortcode-html">
              <section class="g-bg-primary g-color-white g-py-50 g-pa-30">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9 align-self-center">
                      <h3 class="h4">Contact us at
                        <a class="g-color-white" href="mailto:support@htmlstream.com">support@htmlstream.com</a>
                        or give us a call
                        <a class="g-color-white" href="tel:+44(35)773892"> +44 (35) 77 3892</a>
                      </h3>
                      <p class="lead g-mb-20 g-mb-0--md">Unify creative technology company providing key digital services and focused on helping our clients to build a successful business on web and mobile.</p>
                    </div>

                    <div class="col-md-3 align-self-center text-md-right">
                      <a class="btn btn-md u-btn-outline-white g-brd-2 rounded-0" href="#!">Purchase Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode4" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Primary Call To Action -->

        <!-- Dark Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode5">
            <div class="shortcode-html">
              <section class="g-bg-gray-dark-v1 g-color-white g-py-50 g-pa-30">
                <div class="container">
                  <div class="row">
                    <div class="col-md-9 align-self-center">
                      <h3 class="h4">Contact us at
                        <a class="g-color-primary" href="mailto:support@htmlstream.com">support@htmlstream.com</a>
                        or give us a call
                        <a class="g-color-primary" href="tel:+44(35)773892"> +44 (35) 77 3892</a>
                      </h3>
                      <p class="lead g-mb-20 g-mb-0--md">Unify creative technology company providing key digital services and focused on helping our clients to build a successful business on web and mobile.</p>
                    </div>

                    <div class="col-md-3 align-self-center text-md-right">
                      <a class="btn btn-md u-btn-primary g-brd-2 rounded-0" href="#!">Purchase Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode5" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Call To Action -->
      </section>
      <!-- End Call To Action #01 -->

      <!-- Call To Action #02 -->
      <section class="g-py-50">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Call To Action
              <span class="g-color-primary g-ml-5">#02</span>
            </h2>
          </div>
        </div>

        <!-- Light Call To Action -->
        <div class="g-mb-40">
          <div id="shortcode6">
            <div class="shortcode-html">
              <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4">
                <div class="container text-center g-py-50--md g-py-20">
                  <h2 class="h2 text-uppercase g-font-weight-300">Hire Us!</h2>
                  <p class="lead g-px-100--md g-mb-20">Nulla ipsum dolor sit amet, consectetur adipiscing elitut eleifend nisl. In hac habitasse platea dictumst. Curabitur hendrerit, Proin et augue vel nisi rhoncus tincidunt lectus in bibendum pellentesque, lacus eros rutrum ligula.</p>
                  <a class="btn btn-md u-btn-primary rounded-0" href="#!">Get in touch</a>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode6" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Light Call To Action -->

        <!-- Light Pattern Call To Action -->
        <div class="g-mb-40">
          <div id="shortcode7">
            <div class="shortcode-html">
              <section class="dzsparallaxer auto-init height-is-based-on-content use-loading g-mb-40" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
                <div class="divimage dzsparallaxer--target w-100 g-bg-repeat" style="height: 200%; background-image: url({{ root }}assets/img/bg/pattern4.png)"></div>

                <div class="container text-center g-py-50--md g-py-20">
                  <h2 class="h2 text-uppercase g-font-weight-300">Hire Us!</h2>
                  <p class="lead g-px-100--md g-mb-20">Nulla ipsum dolor sit amet, consectetur adipiscing elitut eleifend nisl. In hac habitasse platea dictumst. Curabitur hendrerit, Proin et augue vel nisi rhoncus tincidunt lectus in bibendum pellentesque, lacus eros rutrum ligula.</p>
                  <a class="btn btn-md u-btn-primary rounded-0" href="#!">Get in touch</a>
                </div>
              </section>
            </div>

            <div class="shortcode-styles">
              <!-- CSS Global Compulsory -->
              <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.css">
              <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
              <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
            </div>

            <div class="shortcode-scripts">
              <!-- JS Implementing Plugins -->
              <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
              <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
              <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode7" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Light Pattern Call To Action -->

        <!-- Dark Pattern Call To Action -->
        <div class="g-mb-40">
          <div id="shortcode8">
            <div class="shortcode-html">
              <section class="dzsparallaxer auto-init height-is-based-on-content use-loading g-mb-40" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
                <div class="divimage dzsparallaxer--target w-100 g-bg-repeat" style="height: 200%; background-image: url({{ root }}assets/img/bg/pattern3.png)"></div>

                <div class="container text-center g-color-white g-py-50--md g-py-20">
                  <h2 class="h2 text-uppercase g-font-weight-300">Hire Us!</h2>
                  <p class="lead g-px-100--md g-mb-20">Nulla ipsum dolor sit amet, consectetur adipiscing elitut eleifend nisl. In hac habitasse platea dictumst. Curabitur hendrerit, Proin et augue vel nisi rhoncus tincidunt lectus in bibendum pellentesque, lacus eros rutrum ligula.</p>
                  <a class="btn btn-md u-btn-primary rounded-0" href="#!">Get in touch</a>
                </div>
              </section>
            </div>

            <div class="shortcode-styles">
              <!-- CSS Global Compulsory -->
              <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.css">
              <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
              <link type="text/plain" rel="stylesheet" href="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
            </div>

            <div class="shortcode-scripts">
              <!-- JS Implementing Plugins -->
              <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
              <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
              <script type="text/plain" src="{{ root }}assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode8" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Pattern Call To Action -->
      </section>
      <!-- End Call To Action #02 -->

      <!-- Call To Action #03 -->
      <section class="g-py-50">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Call To Action
              <span class="g-color-primary g-ml-5">#03</span>
            </h2>
          </div>
        </div>

        <!-- Bordered Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode9">
            <div class="shortcode-html">
              <section class="g-brd-around g-brd-gray-light-v4 g-pa-25 g-py-50--md" style="background-image: url({{ root }}assets/img/bg/pattern5.png);">
                <form class="container" role="form">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                        <input class="form-control g-brd-right-none" type="text" placeholder="Your name">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                      </label>
                    </div>

                    <div class="col-md-3">
                      <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                        <input class="form-control g-brd-right-none" type="email" placeholder="Your email">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                        </div>
                      </label>
                    </div>

                    <div class="col-md-4">
                      <select class="custom-select w-100 mr-sm-3 mb-3 mb-lg-0" id="inlineFormCustomSelect">
                        <option selected="">Choose Services...</option>
                        <option value="Service 1">Service 1</option>
                        <option value="Service 2">Service 2</option>
                        <option value="Service 3">Service 3</option>
                      </select>
                    </div>

                    <div class="col-md-2">
                      <button class="btn btn-block btn-md u-btn-primary text-uppercase g-font-size-12 g-font-weight-600 g-rounded-5" type="submit">Get now</button>
                    </div>
                  </div>
                </form>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode9" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Bordered Call To Action -->

        <!-- Light Gray Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode10">
            <div class="shortcode-html">
              <section class="g-bg-gray-light-v5 g-pa-25 g-py-50--md" style="background-image: url({{ root }}assets/img/bg/pattern5.png);">
                <form class="container" role="form">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                        <input class="form-control g-brd-right-none" type="text" placeholder="Your name">
                        <div class="input-group-addon g-bg-white">
                          <i class="fa fa-user"></i>
                        </div>
                      </label>
                    </div>

                    <div class="col-md-3">
                      <label class="input-group g-brd-primary--focus g-rounded-3 g-mb-0--md">
                        <input class="form-control g-brd-right-none" type="email" placeholder="Your email">
                        <div class="input-group-addon g-bg-white">
                          <i class="fa fa-envelope-o"></i>
                        </div>
                      </label>
                    </div>

                    <div class="col-md-4">
                      <select class="custom-select w-100 mr-sm-3 mb-3 mb-lg-0" id="inlineFormCustomSelect">
                        <option selected="">Choose Services...</option>
                        <option value="Service 1">Service 1</option>
                        <option value="Service 2">Service 2</option>
                        <option value="Service 3">Service 3</option>
                      </select>
                    </div>

                    <div class="col-md-2">
                      <button class="btn btn-block btn-md u-btn-primary text-uppercase g-font-size-12 g-font-weight-600 g-rounded-5" type="submit">Get now</button>
                    </div>
                  </div>
                </form>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode10" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Light Gray Call To Action -->

        <!-- Dark Pattern Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode11">
            <div class="shortcode-html">
              <section class="g-bg-gray-dark-v1 g-pa-25 g-py-50--md" style="background-image: url({{ root }}assets/img/bg/pattern5.png);">
                <form class="container" role="form">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="input-group g-rounded-3 g-mb-0--md">
                        <input class="form-control g-brd-white g-brd-right-none" type="text" placeholder="Your name">
                        <div class="input-group-append">
                          <span class="input-group-text g-bg-white g-color-gray"><i class="fa fa-user"></i></span>
                        </div>
                      </label>
                    </div>

                    <div class="col-md-3">
                      <label class="input-group g-rounded-3 g-mb-0--md">
                        <input class="form-control g-brd-white g-brd-right-none" type="email" placeholder="Your email">
                        <div class="input-group-append">
                          <span class="input-group-text g-bg-white g-color-gray"><i class="fa fa-envelope-o"></i></span>
                        </div>
                      </label>
                    </div>

                    <div class="col-md-4">
                      <select class="custom-select w-100 mr-sm-3 mb-3 mb-lg-0" id="inlineFormCustomSelect">
                        <option selected="">Choose Services...</option>
                        <option value="Service 1">Service 1</option>
                        <option value="Service 2">Service 2</option>
                        <option value="Service 3">Service 3</option>
                      </select>
                    </div>

                    <div class="col-md-2">
                      <button class="btn btn-block btn-md u-btn-white text-uppercase g-font-size-12 g-font-weight-600 g-rounded-5" type="submit">Get now</button>
                    </div>
                  </div>
                </form>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode11" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Pattern Call To Action -->

        <!-- Primary Pattern Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode12">
            <div class="shortcode-html">
              <section class="g-bg-primary g-pa-25 g-py-50--md" style="background-image: url({{ root }}assets/img/bg/pattern5.png);">
                <form class="container" role="form">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="input-group g-rounded-3 g-mb-0--md">
                        <input class="form-control g-brd-white g-brd-right-none" type="text" placeholder="Your name">
                        <div class="input-group-append">
                          <span class="input-group-text g-bg-white g-color-gray"><i class="fa fa-user"></i></span>
                        </div>
                      </label>
                    </div>

                    <div class="col-md-3">
                      <label class="input-group g-rounded-3 g-mb-0--md">
                        <input class="form-control g-brd-white g-brd-right-none" type="email" placeholder="Your email">
                        <div class="input-group-append">
                          <span class="input-group-text g-bg-white g-color-gray"><i class="fa fa-envelope-o"></i></span>
                        </div>
                      </label>
                    </div>

                    <div class="col-md-4">
                      <select class="custom-select w-100 mr-sm-3 mb-3 mb-lg-0" id="inlineFormCustomSelect">
                        <option selected="">Choose Services...</option>
                        <option value="Service 1">Service 1</option>
                        <option value="Service 2">Service 2</option>
                        <option value="Service 3">Service 3</option>
                      </select>
                    </div>

                    <div class="col-md-2">
                      <button class="btn btn-block btn-md u-btn-white text-uppercase g-font-size-12 g-font-weight-600 g-rounded-5" type="submit">Get now</button>
                    </div>
                  </div>
                </form>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode12" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Primary Pattern Call To Action -->
      </section>
      <!-- End Call To Action #03 -->

      <!-- Call To Action #04 -->
      <section class="g-py-50">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Call To Action
              <span class="g-color-primary g-ml-5">#04</span>
            </h2>
          </div>
        </div>

        <!-- Bordered Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode13">
            <div class="shortcode-html">
              <section class="g-brd-around g-brd-gray-light-v4 g-pa-30">
                <div class="d-md-flex justify-content-md-center text-center">
                  <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">We offer best in class service for your needs</p>
                  </div>
                  <div class="align-self-md-center">
                    <a class="btn btn-md u-btn-primary" href="#!">Purchase Now</a>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode13" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Bordered Call To Action -->

        <!-- Light Gray Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode14">
            <div class="shortcode-html">
              <section class="g-bg-gray-light-v5 g-pa-30">
                <div class="d-md-flex justify-content-md-center text-center">
                  <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">We offer best in class service for your needs</p>
                  </div>
                  <div class="align-self-md-center">
                    <a class="btn btn-md u-btn-darkgray" href="#!">Purchase Now</a>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode14" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Light Gray Call To Action -->

        <!-- Dark Pattern Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode15">
            <div class="shortcode-html">
              <section class="g-bg-gray-dark-v1 g-color-white g-pa-30" style="background-image: url({{ root }}assets/img/bg/pattern5.png);">
                <div class="d-md-flex justify-content-md-center text-center">
                  <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">We offer best in class service for your needs</p>
                  </div>
                  <div class="align-self-md-center">
                    <a class="btn btn-md u-btn-primary" href="#!">Purchase Now</a>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode15" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Pattern Call To Action -->

        <!-- Primary Pattern Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode16">
            <div class="shortcode-html">
              <section class="g-bg-primary g-color-white g-pa-30" style="background-image: url({{ root }}assets/img/bg/pattern5.png);">
                <div class="d-md-flex justify-content-md-center text-center">
                  <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">We offer best in class service for your needs</p>
                  </div>
                  <div class="align-self-md-center">
                    <a class="btn btn-md u-btn-white" href="#!">Purchase Now</a>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode16" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Primary Pattern Call To Action -->
      </section>
      <!-- End Call To Action #04 -->

      <!-- Call To Action #05 -->
      <section class="g-py-50">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Call To Action
              <span class="g-color-primary g-ml-5">#05</span>
            </h2>
          </div>
        </div>

        <!-- Bordered Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode17">
            <div class="shortcode-html">
              <section class="g-brd-around g-brd-gray-light-v4 g-pa-50">
                <div class="container">
                  <div class="row justify-content-md-around">
                    <div class="col-md-8 align-self-md-center">
                      <h2 class="text-uppercase">Order now and get
                        <span class="g-color-primary">20% off</span>
                      </h2>
                      <p class="lead g-mb-20 g-mb-0--md">Raecenas lacus magna, pretium in congue a, pharetra at lacus imperdiet luctus libero pharetra at lacus</p>
                    </div>

                    <div class="col-md-4 align-self-md-center text-md-center">
                      <a class="btn u-btn-darkgray g-py-12 g-px-30" href="#!">Order Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode17" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Bordered Call To Action -->

        <!-- Gray Light Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode18">
            <div class="shortcode-html">
              <section class="g-bg-gray-light-v5 g-pa-50">
                <div class="container">
                  <div class="row justify-content-md-around">
                    <div class="col-md-8 align-self-md-center">
                      <h2 class="text-uppercase">Order now and get
                        <span class="g-color-primary">20% off</span>
                      </h2>
                      <p class="lead g-mb-20 g-mb-0--md">Raecenas lacus magna, pretium in congue a, pharetra at lacus imperdiet luctus libero pharetra at lacus</p>
                    </div>

                    <div class="col-md-4 align-self-md-center text-md-center">
                      <a class="btn u-btn-outline-primary g-brd-2 g-py-12 g-px-30" href="#!">Order Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode18" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Gray Light Call To Action -->

        <!-- Dark Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode19">
            <div class="shortcode-html">
              <section class="g-bg-gray-dark-v1 g-color-white g-pa-50">
                <div class="container">
                  <div class="row justify-content-md-around">
                    <div class="col-md-8 align-self-md-center">
                      <h2 class="text-uppercase">Order now and get
                        <span class="g-color-primary">20% off</span>
                      </h2>
                      <p class="lead g-mb-20 g-mb-0--md">Raecenas lacus magna, pretium in congue a, pharetra at lacus imperdiet luctus libero pharetra at lacus</p>
                    </div>

                    <div class="col-md-4 align-self-md-center text-md-center">
                      <a class="btn u-btn-primary g-py-12 g-px-30" href="#!">Order Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode19" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Call To Action -->

        <!-- Primary Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode20">
            <div class="shortcode-html">
              <section class="g-bg-primary g-color-white g-pa-50">
                <div class="container">
                  <div class="row justify-content-md-around">
                    <div class="col-md-8 align-self-md-center">
                      <h2 class="text-uppercase">Order now and get
                        <span class="g-color-black">20% off</span>
                      </h2>
                      <p class="lead g-mb-20 g-mb-0--md">Raecenas lacus magna, pretium in congue a, pharetra at lacus imperdiet luctus libero pharetra at lacus</p>
                    </div>

                    <div class="col-md-4 align-self-md-center text-md-center">
                      <a class="btn u-btn-black g-py-12 g-px-30" href="#!">Order Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode20" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Primary Call To Action -->
      </section>
      <!-- End Call To Action #05 -->

      <!-- Call To Action #06 -->
      <section class="g-py-50">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Call To Action
              <span class="g-color-primary g-ml-5">#06</span>
            </h2>
          </div>
        </div>

        <!-- Bordered Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode21">
            <div class="shortcode-html">
              <section class="g-brd-around g-brd-gray-light-v4 g-pa-40">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 align-self-center">
                      <h2 class="h3 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--md">Subscribe to our weekly
                        <strong>newsletter</strong></h2>
                    </div>

                    <div class="col-md-4 align-self-center">
                      <div class="input-group g-brd-primary--focus">
                        <input class="form-control form-control-lg g-font-size-default rounded-0" name="email" type="email" placeholder="Enter your email...">
                        <div class="input-group-append">
                          <span class="input-group-text g-color-gray-dark-v5 rounded-0"><i class="fa fa-envelope"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode21" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Bordered Call To Action -->

        <!-- Gray Light Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode22">
            <div class="shortcode-html">
              <section class="g-bg-gray-light-v5 g-pa-40">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 align-self-center">
                      <h2 class="h3 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--md">Subscribe to our weekly
                        <strong>newsletter</strong></h2>
                    </div>

                    <div class="col-md-4 align-self-center">
                      <div class="input-group g-brd-primary--focus">
                        <input class="form-control form-control-lg g-font-size-default g-bg-transparent g-bg-transparent--focus rounded-0" name="email" type="email" placeholder="Enter your email...">
                        <div class="input-group-append">
                          <span class="input-group-text g-color-gray-dark-v5 rounded-0"><i class="fa fa-envelope"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode22" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Gray Light Call To Action -->

        <!-- Dark Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode23">
            <div class="shortcode-html">
              <section class="g-color-white g-bg-gray-dark-v1 g-pa-40">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 align-self-center">
                      <h2 class="h3 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--md">Subscribe to our weekly
                        <strong>newsletter</strong></h2>
                    </div>

                    <div class="col-md-4 align-self-center">
                      <div class="input-group g-brd-white--focus">
                        <input class="form-control form-control-lg g-font-size-default g-placeholder-white g-color-white g-bg-transparent g-bg-transparent--focus g-brd-white rounded-0" name="email" type="email" placeholder="Enter your email...">
                        <div class="input-group-append">
                          <span class="input-group-text g-color-white g-bg-transparent g-brd-white rounded-0"><i class="fa fa-envelope"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode23" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Call To Action -->

        <!-- Primary Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode24">
            <div class="shortcode-html">
              <section class="g-color-white g-bg-primary g-pa-40">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 align-self-center">
                      <h2 class="h3 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--md">Subscribe to our weekly
                        <strong>newsletter</strong></h2>
                    </div>

                    <div class="col-md-4 align-self-center">
                      <div class="input-group g-brd-white--focus">
                        <input class="form-control form-control-lg g-font-size-default g-placeholder-white g-color-white g-bg-transparent g-bg-transparent--focus g-brd-white rounded-0" name="email" type="email" placeholder="Enter your email...">
                        <div class="input-group-append">
                          <span class="input-group-text g-color-white g-bg-transparent g-brd-white rounded-0"><i class="fa fa-envelope"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode24" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Primary Call To Action -->
      </section>
      <!-- End Call To Action #06 -->

      <!-- Call To Action #07 -->
      <section class="g-py-50">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Call To Action
              <span class="g-color-primary g-ml-5">#07</span>
            </h2>
          </div>
        </div>

        <!-- Bordered Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode25">
            <div class="shortcode-html">
              <section class="g-brd-around g-brd-gray-light-v4 g-pa-40">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-7 align-self-center">
                      <h2 class="h4 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--lg">Subscribe to our weekly
                        <strong class="g-color-primary">newsletter</strong></h2>
                    </div>

                    <div class="col-lg-5 align-self-center">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text g-color-gray-dark-v5 rounded-0"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input class="form-control pl-0 u-form-control g-brd-left-none rounded-0 g-mr-15" type="text" placeholder="Enter your email...">
                        <div class="input-group-append">
                          <button class="btn u-btn-primary rounded-0">Subscribe</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode25" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Bordered Call To Action -->

        <!-- Gray Light Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode26">
            <div class="shortcode-html">
              <section class="g-bg-gray-light-v5 g-pa-40">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-7 align-self-center">
                      <h2 class="h4 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--lg">Subscribe to our weekly
                        <strong class="g-color-primary">newsletter</strong></h2>
                    </div>

                    <div class="col-lg-5 align-self-center">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text g-bg-white g-color-gray-dark-v5 rounded-0"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input class="form-control pl-0 u-form-control g-brd-left-none rounded-0 g-mr-15" type="text" placeholder="Enter your email...">
                        <div class="input-group-append">
                          <button class="btn u-btn-primary rounded-0">Subscribe</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode26" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Gray Light Call To Action -->

        <!-- Dark Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode27">
            <div class="shortcode-html">
              <section class="g-bg-gray-dark-v1 g-color-white g-pa-40">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-7 align-self-center">
                      <h2 class="h4 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--lg">Subscribe to our weekly
                        <strong class="g-color-primary">newsletter</strong></h2>
                    </div>

                    <div class="col-lg-5 align-self-center">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text g-bg-transparent g-color-white g-brd-white rounded-0 g-brd-right-none"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input class="form-control pl-0 u-form-control g-brd-left-none g-placeholder-white g-color-white g-bg-transparent g-bg-transparent--focus g-brd-white rounded-0 g-mr-15" type="text" placeholder="Enter your email...">
                        <div class="input-group-append">
                          <button class="btn u-btn-primary rounded-0">Subscribe</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode27" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Call To Action -->

        <!-- Dark Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode28">
            <div class="shortcode-html">
              <section class="g-bg-primary g-color-white g-pa-40">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-7 align-self-center">
                      <h2 class="h4 text-uppercase g-font-weight-300 g-mb-20 g-mb-0--lg">Subscribe to our weekly
                        <strong class="g-color-black">newsletter</strong></h2>
                    </div>

                    <div class="col-lg-5 align-self-center">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text g-bg-transparent g-color-white g-brd-white rounded-0 g-brd-right-none"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input class="form-control pl-0 u-form-control g-brd-left-none g-placeholder-white g-color-white g-bg-transparent g-bg-transparent--focus g-brd-white rounded-0 g-mr-15" type="text" placeholder="Enter your email...">
                        <div class="input-group-append">
                          <button class="btn u-btn-black rounded-0">Subscribe</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode28" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Dark Call To Action -->
      </section>
      <!-- End Call To Action #07 -->

      <!-- Call To Action #08 -->
      <section class="g-py-50">
        <div class="container">
          <div class="text-center g-mb-50">
            <h2 class="h4">Call To Action
              <span class="g-color-primary g-ml-5">#08</span>
            </h2>
          </div>
        </div>

        <!-- Bordered Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode29">
            <div class="shortcode-html">
              <section class="g-brd-around g-brd-gray-light-v4 g-py-40 g-px-30">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3 align-self-lg-center">
                      <img class="img-fluid w-100 g-mb-30 g-mb-0--lg" src="{{ root }}assets/img-temp/400x270/img3.jpg" alt="Image description">
                    </div>

                    <div class="col-lg-7 align-self-lg-center">
                      <h2 class="text-uppercase">Need to do calculations?</h2>
                      <p class="lead g-mb-20 g-mb-0--lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
                    </div>

                    <div class="col-lg-2 align-self-lg-center">
                      <a class="btn u-btn-primary rounded-0 g-py-12 g-px-30" href="#!">Order Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode29" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Bordered Call To Action -->

        <!-- Black Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode30">
            <div class="shortcode-html">
              <section class="g-bg-gray-dark-v1 g-color-white g-py-40 g-px-30">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3 align-self-lg-center">
                      <img class="img-fluid w-100 g-mb-30 g-mb-0--lg" src="{{ root }}assets/img-temp/400x270/img14.jpg" alt="Image description">
                    </div>

                    <div class="col-lg-7 align-self-lg-center">
                      <h2 class="text-uppercase">Need to do calculations?</h2>
                      <p class="lead g-mb-20 g-mb-0--lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
                    </div>

                    <div class="col-lg-2 align-self-lg-center">
                      <a class="btn u-btn-primary rounded-0 g-py-12 g-px-30" href="#!">Order Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode30" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Black Call To Action -->

        <!-- Primary Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode31">
            <div class="shortcode-html">
              <section class="g-bg-primary g-color-white g-py-40 g-px-30">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3 align-self-lg-center">
                      <img class="img-fluid w-100 g-mb-30 g-mb-0--lg" src="{{ root }}assets/img-temp/400x270/img13.jpg" alt="Image description">
                    </div>

                    <div class="col-lg-7 align-self-lg-center">
                      <h2 class="text-uppercase">Need to do calculations?</h2>
                      <p class="lead g-mb-20 g-mb-0--lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo</p>
                    </div>

                    <div class="col-lg-2 align-self-lg-center">
                      <a class="btn u-btn-darkgray rounded-0 g-py-12 g-px-30" href="#!">Order Now</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode31" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Primary Call To Action -->

        <!-- Black Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode32">
            <div class="shortcode-html">
              <!-- Call to Action -->
              <div class="g-pos-rel">
                <div class="container text-center g-pt-100 g-pb-50">
                  <!-- Heading -->
                  <div class="g-max-width-645 mx-auto g-mb-40">
                    <h2 class="h1 mb-3">Join Unify</h2>
                    <p>Our strategy is simple: to create a place where the best researchers and most promising students can achieve their full potential.</p>
                  </div>
                  <!-- End Heading -->

                  <a class="btn u-shadow-v33 g-color-white g-bg-primary g-bg-main--hover g-rounded-30 g-px-35 g-py-13" href="page-apply-1.html">Apply Now</a>

                  <!-- SVG Shape -->
                  <svg class="d-inline-block g-width-35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 37 1" enable-background="new 0 0 37 1" xml:space="preserve">
                    <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="0" y1="0.5" x2="37" y2="0.5">
                      <stop  offset="0" style="stop-color:#f5f6fa"/>
                      <stop  offset="1" style="stop-color:#b5b8cb"/>
                    </linearGradient>
                    <line fill="none" stroke="url(#SVGID_5_)" stroke-miterlimit="10" x1="37" y1="0.5" x2="0" y2="0.5"/>
                  </svg>
                  <!-- End SVG Shape -->

                  <span class="align-middle g-color-primary mx-1">or</span>

                  <!-- SVG Shape -->
                  <svg class="d-inline-block g-width-35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 37 1" enable-background="new 0 0 37 1" xml:space="preserve">
                    <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="-10" y1="-1.5" x2="27" y2="-1.5" gradientTransform="matrix(-1 0 0 -1 27 -1)">
                      <stop  offset="0" style="stop-color:#f5f6fa"/>
                      <stop  offset="1" style="stop-color:#b5b8cb"/>
                    </linearGradient>
                    <line fill="none" stroke="url(#SVGID_6_)" stroke-miterlimit="10" x1="0" y1="0.5" x2="37" y2="0.5"/>
                  </svg>
                  <!-- End SVG Shape -->

                  <a class="btn u-shadow-v32 g-color-primary g-color-white--hover g-bg-white g-bg-main--hover g-rounded-30 g-px-35 g-py-13" href="/welcome-contacts">Contact Us</a>
                </div>

                <!-- SVG Background Shape -->
                <svg class="g-pos-abs g-bottom-0 g-left-0 g-z-index-minus-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1920 323" enable-background="new 0 0 1920 323" xml:space="preserve">
                  <polygon fill="#f0f2f8" points="0,323 1920,323 1920,0 "/>
                  <polygon fill="#f5f6fa" points="-0.5,322.5 -0.5,131.5 658.3,212.3 "/>
                </svg>
                <!-- End SVG Background Shape -->
              </div>
              <!-- End Call to Action -->
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode32" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Black Call To Action -->

        <!-- Black Call To Action -->
        <div class="g-mb-50">
          <div id="shortcode32">
            <div class="shortcode-html">
              <div class="g-bg-img-hero" style="background-image: url({{ root }}assets/include/svg/svg-bg3.svg);">
                <div class="container g-pt-60 g-pb-30">
                  <div class="row justify-content-lg-center align-items-md-center">
                    <div class="col-md-9 col-lg-7 g-mb-30">
                      <!-- Media -->
                      <div class="media align-items-center g-pr-15--lg">
                        <div class="d-flex mr-5">
                          <span class="u-icon-v3 u-icon-size--lg g-color-primary g-bg-primary-opacity-0_1 rounded-circle">
                            <i class="material-icons">toys</i>
                          </span>
                        </div>

                        <div class="media-body">
                          <h3 class="h2">Take a virtual tour of Unify University</h3>
                          <p>Do you want to implement microtransactions, have unusually large average order values, or operate with high refund rates? Get in touch to discuss your idea.</p>
                        </div>
                      </div>
                      <!-- End Media -->
                    </div>

                    <div class="col-5 col-md-3 col-lg-2 mx-auto g-mx-0--lg g-mb-30">
                      <button class="btn btn-block u-shadow-v33 g-color-white g-bg-primary g-bg-main--hover g-rounded-30 g-px-25 g-py-13" type="button">Start Now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            {% set contentTarget = "#shortcode32" %}
            {% set modalID = "#modalMarkup" %}
            {% include "html/assets/include/nunjucks/partials/blocks/show-code.njk" %}
          </div>
        </div>
        <!-- End Black Call To Action -->
      </section>
      <!-- End Call To Action #08 -->
    </section>

    {% include "html/assets/include/nunjucks/partials/blocks/cta/cta-main.njk" %}

    {% include "html/assets/include/nunjucks/partials/blocks/footers/footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/footers/copyright-footer-main.njk" %}
    {% include "html/assets/include/nunjucks/partials/blocks/go-to-top/go-to-top-1.njk" %}
  </main>

  {% include "html/assets/include/nunjucks/partials/blocks/modals/modal-markup.njk" %}

  {% include "html/assets/include/nunjucks/partials/core-js.njk" %}

  <!-- JS Implementing Plugins -->
  <script src="{{ root }}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  {% include "html/assets/include/nunjucks/partials/js/js-dzsparallaxer.njk" %}

  {% include "html/assets/include/nunjucks/partials/js/js-jquery-ui-core.njk" %}

  <!-- jQuery UI Helpers -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

  <!-- jQuery UI Widgets -->
  <script src="{{ root }}assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>

  <!-- JS Unify -->
  <script src="{{ root }}assets/js/hs.core.js"></script>

  <script src="{{ root }}assets/js/components/hs.header.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.hamburgers.js"></script>
  <script src="{{ root }}assets/js/components/hs.header-side.js"></script>

  <script src="{{ root }}assets/js/components/hs.autocomplete-local-search.js"></script>
  <script src="{{ root }}assets/style-switcher/vendor/cookiejs/jquery.cookie.js"></script>
  <script src="{{ root }}assets/js/helpers/hs.shortcode-filter.js"></script>

  <script src="{{ root }}assets/js/components/hs.go-to.js"></script>

  {% include "html/assets/include/nunjucks/partials/js/js-show-code.njk" %}

  <!-- JS Custom -->
  <script src="{{ root }}assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });

    $(window).on('load', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#js-header'));
      $.HSCore.helpers.HSHamburgers.init('.hamburger');
      $.HSCore.components.HSHeaderSide.init($('#sideNav'));

      // initialization of autocomplet
      $.HSCore.components.HSLocalSearchAutocomplete.init('#u-sidebar-navigation__search-autocomplete');

      // initialization of HSMegaMenu plugin
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
      });
    });
  </script>
</body>
</html>
