<!-- Call to Action -->
  <div class="g-bg-primary g-py-100">
    <div class="g-max-width-645 text-center mx-auto">
      <div class="mb-5">
        <h2 class="g-color-white g-font-weight-600">Change of a living place - is the first step towards favorable changes</h2>
      </div>

      <span class="d-inline-block g-font-weight-600 text-uppercase mr-4">Call Us</span>
      <a class="btn u-btn-outline-white g-brd-2 g-color-main g-color-primary--hover g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2" href="#">
        (0161) 347 8854
        <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
      </a>
      <span class="d-inline-block g-font-weight-600 text-uppercase mx-4">or</span>
      <a class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2" href="/welcome-contacts">
        Contact Us
        <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
      </a>
    </div>
  </div>
  <!-- End Call to Action -->