<!-- Footer -->
<footer class="container g-pt-100 g-pb-70">
  <div class="row">
    <div class="col-md-3 text-center text-md-left g-mb-30">
      <!-- Logo -->
      <a class="d-block d-lg-flex align-items-center g-color-main text-uppercase g-text-underline--none--hover g-mb-30" href="/">
        <span class="g-color-text g-font-size-35 g-line-height-0_7 g-opacity-0_4 mr-4"><i class="icon-real-estate-066 u-line-icon-pro"></i></span>
        <span class="d-block g-font-weight-600 g-line-height-1_4">
          Real Estate
          <span class="d-block g-color-text g-font-size-10 text-center">Your Reliability</span>
        </span>
      </a>
      <!-- End Logo -->

      <!-- Button Group -->
      <div class="btn-group dropup">
        <button class="btn btn-black btn-lg g-brd-gray-light-v3 g-color-main g-color-primary--hover g-bg-white g-font-weight-500 g-font-size-default rounded-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          United Kingdom
          <i class="g-font-size-12 ml-2 fa fa-caret-up"></i>
        </button>
        <div class="dropdown-menu g-brd-gray-light-v3 rounded-0">
          <a class="dropdown-item g-color-main g-bg-primary--hover g-bg-primary--active g-py-10" href="#">
            United Kingdom
          </a>
          <a class="dropdown-item g-color-main g-bg-primary--hover g-bg-primary--active g-py-10" href="#">
            United States
          </a>
          <a class="dropdown-item g-color-main g-bg-primary--hover g-bg-primary--active g-py-10" href="#">
            Russia
          </a>
          <a class="dropdown-item g-color-main g-bg-primary--hover g-bg-primary--active g-py-10" href="#">
            Germany
          </a>
        </div>
      </div>
      <!-- End Button Group -->
    </div>

    <div class="col-md-6 text-center g-mb-30">
      <span class="d-block g-color-text g-font-size-13 mb-4">&#169; Htmlstream. All Rights Reserved. 2013 - 2017</span>

      <!-- Footer - List -->
      <ul class="list-inline mb-5">
        <li class="list-inline-item mx-3"><a class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500" href="#">For Rent</a></li>
        <li class="list-inline-item mx-3"><a class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500" href="#">For Sale</a></li>
        <li class="list-inline-item mx-3"><a class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500" href="#">New Buildings</a></li>
        <li class="list-inline-item mx-3"><a class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500" href="#">Agents</a></li>
        <li class="list-inline-item mx-3"><a class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500" href="#">Help</a></li>
        <li class="list-inline-item mx-3"><a class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500" href="#">Contact Us</a></li>
      </ul>
      <!-- End Footer - List -->

      <!-- Go to Top -->
      <a class="js-go-to u-go-to-v3 g-width-40 g-height-40 g-color-primary" href="#"
          data-offset-top="400"
          data-compensation="#js-header"
          data-show-effect="zoomIn">
        <i class="g-brd-gray-light-v3 g-brd-primary--hover rounded-0 fa fa-long-arrow-up"></i>
      </a>
      <!-- End Go to Top -->
    </div>

    <div class="col-md-3 text-center g-mb-30">
      <h3 class="g-font-weight-600 g-font-size-13 text-uppercase">Follow us on:</h3>

      <!-- Social Icons -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13" href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13" href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13" href="#">
            <i class="fa fa-tumblr"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13" href="#">
            <i class="fa fa-pinterest-p"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13" href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
      <!-- End Social Icons -->
    </div>
  </div>
</footer>
<!-- End Footer -->