<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance"
        data-header-fix-moment="600"
        data-header-fix-effect="slide">
  <div class="u-header__section g-transition-0_5"
        data-header-fix-moment-exclude="g-mt-0"
        data-header-fix-moment-classes="g-mt-minus-73 g-mt-minus-76--md">
    <!-- Topbar -->
    <div class="g-bg-white">
      <div class="container-fluid g-py-15">
        <div class="row align-items-center">
          <div class="col-2 col-md-4 col-lg-2">
            <!-- Logo -->
            <a class="navbar-brand d-flex align-items-center g-color-main text-uppercase g-text-underline--none--hover" href="/">
              <span class="g-color-text g-font-size-35 g-line-height-0_7 g-opacity-0_4 mr-4"><i class="icon-real-estate-066 u-line-icon-pro"></i></span>
              <span class="d-block g-hidden-sm-down g-font-weight-600 g-line-height-1_4">
                Real Estate
                <span class="d-block g-color-text g-font-size-10 text-center">Your Reliability</span>
              </span>
            </a>
            <!-- End Logo -->
          </div>

          <div class="col-lg-4 g-hidden-md-down">
            <!-- Social Icons -->
            <ul class="list-inline d-flex align-items-center ml-3 mb-0">
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover" href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover" href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover" href="#">
                  <i class="fa fa-tumblr"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover" href="#">
                  <i class="fa fa-pinterest-p"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-2">
                <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover" href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>

              <li class="list-inline-item mr-5"></li>

              <li class="list-inline-item g-mr-3">
                <span class="g-color-gray-dark-v5 g-font-size-10">Get for:</span>
              </li>

              <!-- Apps -->
              <li class="list-inline-item g-mx-3">
                <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary-dark-v1--hover g-color-gray-dark-v5 g-color-white--hover g-bg-primary-dark-v1--hover" href="#">
                  <i class="fa fa-android"></i>
                </a>
              </li>
              <li class="list-inline-item g-mx-3">
                <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary-dark-v1--hover g-color-gray-dark-v5 g-color-white--hover g-bg-primary-dark-v1--hover" href="#">
                  <i class="fa fa-apple"></i>
                </a>
              </li>
              <!-- End Apps -->
            </ul>
            <!-- End Social Icons -->
          </div>

          <div class="col-10 col-md-8 col-lg-6 ml-auto">
            <!-- List -->
            <ul class="list-inline float-right mb-0">
              <!-- Guide -->
              <li class="list-inline-item g-pos-rel g-mx-2">
                <a id="guide-dropdown-invoker-2" class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover g-font-weight-500 g-font-size-12 g-pa-10" href="#"
                    aria-controls="guide-dropdown-2"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-dropdown-event="hover"
                    data-dropdown-target="#guide-dropdown-2"
                    data-dropdown-type="css-animation"
                    data-dropdown-duration="0"
                    data-dropdown-hide-on-scroll="true"
                    data-dropdown-animation-in="fadeIn"
                    data-dropdown-animation-out="fadeOut">
                  Guide
                  <i class="ml-2 fa fa-angle-down"></i>
                </a>
                <ul id="guide-dropdown-2" class="list-unstyled u-shadow-v11 g-min-width-220 g-bg-white g-pos-abs g-left-0 g-z-index-99 g-mt-28"
                    aria-labelledby="guide-dropdown-invoker-2">
                  <li class="dropdown-item g-px-5">
                    <a class="nav-link g-color-text g-font-weight-600" href="#">
                      First-Time Home Buyers Guide
                    </a>
                  </li>
                  <li class="dropdown-item g-px-5">
                    <a class="nav-link g-color-text g-font-weight-600" href="#">
                      Veterans Home Buyers Guide
                    </a>
                  </li>
                </ul>
              </li>
              <!-- End Guide -->

              <li class="list-inline-item g-hidden-xs-down g-mx-2">
                <span class="g-color-gray-light-v1 g-pos-rel g-top-minus-1">|</span>
              </li>
              <li class="list-inline-item g-hidden-xs-down g-mx-2">
                <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover g-font-weight-500 g-font-size-12 g-pa-10" href="/welcome-contacts">
                  <i class="align-middle g-font-size-11 mr-1 icon-communication-033 u-line-icon-pro"></i>
                  Contacts
                </a>
              </li>
              <li class="list-inline-item g-hidden-xs-down g-mx-2">
                <span class="g-color-gray-light-v1 g-pos-rel g-top-minus-1">|</span>
              </li>
              <li class="list-inline-item g-hidden-xs-down g-mx-2">
                <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover g-font-weight-500 g-font-size-12 g-pa-10" href="#">
                  <i class="align-middle g-font-size-11 mr-1 icon-finance-206 u-line-icon-pro"></i>
                  Live Chat
                </a>
              </li>
              <li class="list-inline-item">
                <a class="u-link-v5 g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-500 g-px-15 g-py-10" href="/session-register">Register</a>
              </li>
              <li class="list-inline-item">
                <a class="u-link-v5 g-color-white g-bg-primary g-bg-primary-dark-v1--hover g-font-weight-500 g-px-15 g-py-10" href="/session-login">Login</a>
              </li>
            </ul>
            <!-- End List -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Topbar -->

    <nav class="js-mega-menu navbar navbar-expand-lg g-brd-y g-brd-2 g-brd-primary-dark-v1 g-bg-primary g-pa-0">
      <div class="container-fluid">
        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0" type="button"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span class="hamburger hamburger--slider g-px-0">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <div class="col-auto order-lg-1">
          <!-- Search Form -->
          <form id="searchform-1" class="g-min-width-180--sm g-min-width-315--xl g-brd-right g-brd-primary-dark-v1 g-pos-rel">
            <span class="g-color-white g-pos-abs g-top-15"><i class="fa fa-search"></i></span>
            <input class="form-control w-100 g-brd-transparent g-color-white g-bg-transparent g-font-size-13 g-pl-25 g-py-18" type="text" placeholder="Search by City, Address, ZIP ...">
          </form>
          <!-- End Search Form -->
        </div>

        <div class="col-auto order-lg-2 px-0 ml-auto">
          <!-- Languages -->
          <ul class="list-inline g-hidden-xs-down mb-0">
            <li class="list-inline-item mr-0">
              <a class="active u-link-v5 g-color-white g-bg-transparent g-bg-primary-dark-v1--hover g-bg-primary-dark-v1--active g-font-weight-500 g-pa-10" href="javascript:void(0);">En</a>
            </li>
            <li class="list-inline-item mr-0">
              <a class="u-link-v5 g-color-white g-bg-transparent g-bg-primary-dark-v1--hover g-bg-primary-dark-v1--active g-font-weight-500 g-pa-10" href="javascript:void(0);">中文</a>
            </li>
            <li class="list-inline-item mr-0">
              <a class="u-link-v5 g-color-white g-bg-transparent g-bg-primary-dark-v1--hover g-bg-primary-dark-v1--active g-font-weight-500 g-pa-10" href="javascript:void(0);">Es</a>
            </li>
          </ul>
          <!-- End Languages -->
        </div>

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse align-items-center order-lg-last g-brd-top g-brd-none--lg g-brd-primary-dark-v1">
          <ul class="navbar-nav g-py-30 g-py-0--lg">
            <li class="nav-item">
              <a class="nav-link g-color-white g-brd-x--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="/">
                Home
              </a>
            </li>

            <!-- Listing - Submenu -->
            <li class="nav-item hs-has-sub-menu">
              <a id="nav-link--listing" class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="#"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="nav-submenu--listing">
                Listing
              </a>

              <!-- Submenu -->
              <ul id="nav-submenu--listing" class="hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-2"
                  aria-labelledby="nav-link--listing">
                <li class="dropdown-item">
                  <a class="nav-link g-color-text g-font-weight-600" href="/pages-list">List View</a>
                </li>
                <li class="dropdown-item">
                  <a class="nav-link g-color-text g-font-weight-600" href="/pages-grid">Grid View</a>
                </li>
                <li class="dropdown-item">
                  <a class="nav-link g-color-text g-font-weight-600" href="/pages-single">Listing Single Page</a>
                </li>
              </ul>
              <!-- End Submenu -->
            </li>
            <!-- End Listing - Submenu -->

            <!-- Agents - Submenu -->
            <li class="nav-item hs-has-sub-menu">
              <a id="nav-link--page" class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="#"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="nav-submenu--page">
                Agents
              </a>

              <!-- Submenu -->
              <ul id="nav-submenu--page" class="hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-2"
                  aria-labelledby="nav-link--page">
                <li class="dropdown-item">
                  <a class="nav-link g-color-text g-font-weight-600" href="/agents-list">List View</a>
                </li>
                <li class="dropdown-item">
                  <a class="nav-link g-color-text g-font-weight-600" href="/agents-grid">Grid View</a>
                </li>
                <li class="dropdown-item">
                  <a class="nav-link g-color-text g-font-weight-600" href="/agents-single">Agents Single Page</a>
                </li>
              </ul>
              <!-- End Submenu -->
            </li>
            <!-- End Agents - Submenu -->

            <li class="nav-item">
              <a class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="/welcome-share">
                Share
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="/welcome-help">
                Help
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="/welcome-contacts">
                Contacts
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="/">Main</a>
            </li>
          </ul>
        </div>
        <!-- End Navigation -->
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->