<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Multipage - Real Estate Home Page | Unify - Responsive Website Template</title>
    <%= csrf_meta_tags %>
    <!-- Title -->

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600" rel="stylesheet">

    <!-- CSS Global Compulsory -->
    <%= stylesheet_link_tag @cssassets[:bootstrap] %>

    <!-- CSS Implementing Plugins -->
    <%= stylesheet_link_tag @cssassets[:font_awesome], @cssassets[:simple_line_icons] %>
    <link rel="stylesheet" href="assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="assets/vendor/icon-hs/style.css">

    <%= stylesheet_link_tag @cssassets[:animate] %>
    <link rel="stylesheet" href="assets/vendor/hs-megamenu/src/hs.megamenu.css">

    <%= stylesheet_link_tag @cssassets[:hamburgers], @cssassets[:chosen], @cssassets[:slick_carousel], @cssassets[:fancybox] %>

    <!-- CSS Unify Theme -->
    <link rel="stylesheet" href="assets/css/styles.multipage-real-estate.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
  </head>

  <body>
    <%= yield %>

    <!-- JS Global Compulsory -->
    <%= javascript_include_tag @jsassets[:jquery], @jsassets[:migrate], @jsassets[:popper], @jsassets[:bootstrap] %>

    <!-- JS Implementing Plugins -->
    <script src="assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="assets/vendor/jquery-ui/ui/widget.js"></script>
    <script src="assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
    <script src="assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
    <script src="assets/vendor/jquery-ui/ui/widgets/slider.js"></script>
    
    <%= javascript_include_tag @jsassets[:chosen], @jsassets[:slick], @jsassets[:fancybox] %>

    <!-- JS Unify -->
    <script src="assets/js/hs.core.js"></script>
    <script src="assets/js/components/hs.header.js"></script>
    <script src="assets/js/helpers/hs.hamburgers.js"></script>
    <script src="assets/js/components/hs.dropdown.js"></script>
    <script src="assets/js/components/hs.slider.js"></script>
    <script src="assets/js/components/hs.select.js"></script>
    <script src="assets/js/components/hs.carousel.js"></script>
    <script src="assets/js/components/hs.popup.js"></script>
    <script src="assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
            afterOpen: function () {
            $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of range slider
        $.HSCore.components.HSSlider.init('#rangeSlider1');

        // initialization of custom select
        $.HSCore.components.HSSelect.init('.js-custom-select');

        // initialization of carousel
        $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
        });
    </script>
  </body>
</html>
